[2021-01-31 13:20] proyb6 opened #2 "zsh: killed ./ticker"
On Apple M1 running Big Sur

[2021-01-31 15:55] achannarasappa commented on #2
Adding a link to the reddit thread related to the issue:  https://www.reddit.com/r/golang/comments/l8poy7/ticker_a_terminal_stock_watcher_and_stock/glep2pg?utm_source=share&utm_medium=web2x&context=3

[2021-01-31 19:43] piraces opened #3 "Windows executable detected as Malware by several Antivirus engines"
I was trying to try the app in a Windows environment when the browser started to cancel the download of the compressed file...
However, I managed to download it and execute the program, which resulted in the result:

[code]

Then I uploaded the file to VirusTotal, where seven Antivirus engines interpreted it as Malware/Malicious (including Microsoft itself). You can see the report here: https://ww

[2021-01-31 19:51] achannarasappa commented on #3
Thanks for reporting this. I am not that familiar with how these virus scanners work but I'll do a bit of research and come back with some more information on why they could be flagging this as malware.

[2021-01-31 19:59] itsamoreh commented on #2
I'm getting a similar issue.

- MacOS Big Sur
- Intel
- iTerm / zsh
- Installed with brew like this: `brew install achannarasappa/tap/ticker`

[code]

[2021-01-31 20:36] achannarasappa commented on #3
I've run two additional scans against the 32bit and 64bit versions of the latest release. I've found that both were flagged by different scanners but both were flagged as potential malware.

Below are the scan results:
https://www.virustotal.com/gui/file/442c0743bb817ef27187e4f77746c966cf6684fdf59a92759d5f4734f4b72c79/detection
https://www.virustotal.com/gui/file/5970c17d0e6b80a7e65d9aa43d4b5dd8dd

[2021-01-31 20:38] eshack94 commented on #2
Reporting that version 2.0.2 has fixed the issue. See the reddit thread linked for the discussion about this. It looks like `upx` was causing an issue on Big Sur.

[2021-01-31 20:45] achannarasappa commented on #2
thanks @eshack94!

Closing this issue

[2021-01-31 20:45] #2 closed

[2021-02-01 08:49] piraces commented on #3
Thank you very much for your response!

I already use ticker, its a great tool. I hope this gets solved from the AV side. Nevertheless, I will continue using ticker since I can see the source code (and compile it by myself). No problem 👍

[2021-02-01 08:51] #3 closed

[2021-02-01 08:52] 097115 opened #4 "Total for lots?"
May be displaying totals for lots (in the status line?) could be worth considering? :)

Otherwise, seems like a great app, already using it.

[2021-02-01 10:35] 097115 opened #5 "Sorting?"
As for now, as I understand, it sorts tickers by their growth. This leads to tickers constantly changing their positions. Can sorting by name be implemented?

Or, better, sort according to the order in the configuration file if one's present (this could allow custom sorting, visually separating a group of unrelated tickers, and also other things, like putting "lots" on top, and the rest of the wat

[2021-02-01 11:12] whiskywaffel opened #6 "dynamic region"
There isn't an option for changing the region. Would be nice to use an argument in the ticker.yaml

![image](https://user-images.githubusercontent.com/37911718/106451217-86821780-6486-11eb-8560-39969567c2ba.png)

[2021-02-01 11:14] chrisBinder opened #7 "Price Alarm"
Would be nice to be able to set a price alarm with notification 🚀

[2021-02-01 12:37] achannarasappa commented on #4
Thanks for the suggestion! This was a feature I considering but wanted to wait until I knew there was interest for it and now I know there is :)

[2021-02-01 12:39] achannarasappa commented on #5
This is a great suggestion - I'll have a look at adding this in the next couple of releases this week

[2021-02-01 12:42] achannarasappa commented on #6
Hi @whiskywaffel

Would you mind sharing how this would help you / the use case?

[2021-02-01 12:43] achannarasappa commented on #7
Interesting idea! I'll have a look into if this can't be added in a future release

[2021-02-01 12:50] pgrunm commented on #6
For example for users from other continents like me. I'm from the EU and right now we can't change the currency from USD to EUR. I don't know if this comes from the region, but it would be awesome if there would be a setting to change the displayed currency.

[2021-02-01 13:03] achannarasappa commented on #6
@pgrunm that really helpful context thank you

I've tested the API with this call:
` http "https://query1.finance.yahoo.com/v7/finance/quote?lang=en-GB&region=GB&corsDomain=finance.yahoo.com&symbols=NET" | jq '.quoteResponse.result[0].currency'`
From this, I found that the currency returned is still `USD` which indicates that the currency is a property of the exchange rather than the region from t

[2021-02-01 13:07] 097115 commented on #7
Second this, a price alarm would be great. A few notes:

  - if this is going to be implemented, the notification command probably will be customizable? (like, allowing a user to do whatever they want if the condition is true, calling a system notification, or sending an email, or running a script)
  - may be some color highlight for such a ticker? Though, this probably would need some testing: no

[2021-02-01 13:08] whiskywaffel commented on #6
Stocks from eg. Germany are not listed because they have no symbol, only WKN or ISIN.
You can only search them within the region "DE" with given WKN or ISIN.
For example DE0005038509

[2021-02-01 13:17] evamvid opened #8 "XDG compliance"
It would be great if by default check for the configuration file in XDG_CONFIG_HOME (this is `~/.config` for 90% of people), and maybe also XDG_CONFIG_HOME/ticker as well as in ~ for a configuration file, so as not to pollute the home directory with dotfiles.

Normally I'd have just submitted a pull request but I don't know Go, but I'm happy to help with any details or clarifications about it.

Co

[2021-02-01 13:24] achannarasappa commented on #8
Thanks for the suggestion! From your description, this makes total sense to include. I'll do a bit more research on XDG_CONFIG_HOME and look to include it in a release soon

[2021-02-01 13:26] #6 closed

[2021-02-01 13:35] achannarasappa commented on #6
It's a valid point of confusion - I'll make a note in the readme for now and look to add a symbol search capability in the future

[2021-02-01 13:50] pgrunm opened #9 "Currency support"
As mentioned in the issue #6 I'd like to ask for currency support.

My suggestion is to add this by just watching the exchange value between the Euro and USD. You can watch the Dollar just like a usual [quote](https://finance.yahoo.com/quote/EURUSD=X?p=EURUSD=X&.tsrc=fin-srch), maybe you can add this.

Unfortunately If I try this on the [Yahoo API](https://query1.finance.yahoo.com/v7/finance/quote

[2021-02-01 14:20] evamvid commented on #8
I went ahead and implemented it and sent you a Pull Request. #10

[2021-02-01 14:38] evamvid commented on #9
For forex tickers, the correct symbol is, for example for EUR/USD, EURUSD=X.

So the correct link for Euros would be:
https://query1.finance.yahoo.com/v7/finance/quote?lang=en-GB&region=GB&corsDomain=finance.yahoo.com&symbols=EURUSD=X

And if you put EURUSD=X into the configuration file, it should work.

[2021-02-01 14:57] viperperidot opened #11 "Cannot find config file"
The config file is not in the default directly as mentioned here and I do not see it anywhere.

[2021-02-01 15:33] luanmuniz opened #12 "Feature Request: Export data"
One of my everyday routines is to update a spreadsheet with the current values of the tickers I have invested.
This system is great for that! Instead of going to a bunch of websites, I just run the terminal and it's done.

An export to JSON feature for example would be great because I could just put a script to run on the cronjob to update my spreadsheet using its data.

Thank you for the app :)

[2021-02-01 15:38] brandenc40 commented on #4
+1 would love to have this. overall holding gain/loss is the one thing I'm missing

[2021-02-01 15:45] 097115 commented on #11
You should create one, `.ticker.yaml` in  your `$HOME` directory.

[2021-02-01 15:50] viperperidot commented on #11
Oh ok thanks I didn't know I needed to do that myself, maybe just update the instructions so it is more clear.

Thanks

[2021-02-01 17:07] #11 closed

[2021-02-01 18:10] viperperidot opened #13 "Feature request: edit appearance of price quote"
Would it be possible to edit the appearance of the quoted price for the stock? Things like font size, bold, and font color would be nice to edit to make the price stand out more I think. It would also be nice to be able to move it to a different position on the screen closer to the center of the screen imo.

Edit: I see now why the price quote is on the far right, it is to make room for the holdin

[2021-02-01 19:13] viperperidot opened #14 "Lot not showing correct number"
I followed the instructions to input a lot in the .yaml file but it is not appearing. Instead in the place that it should be is just the same number showing the current stock quote.

[2021-02-01 19:23] achannarasappa commented on #14
@viperperidot would you be able to share your `.ticker.yaml`?

[2021-02-01 19:27] viperperidot commented on #14
# ~/.ticker.yaml
show-tags: true
show-fundamentals: true
show-separator: true
interval: 5
watchlist:
  - SLV
  - NOK
  - BB
  - WFG
  - SPY
  - TSLA
  - GME
lots:
  - symbol: "GME"
    quantity: 1.0
    unit_cost: 380.00

[2021-02-01 19:31] viperperidot commented on #14
How do I paste the code like you did here in the correct format?

[2021-02-01 20:41] viperperidot commented on #14
Is there anything I can do to get this to display properly?

[2021-02-01 22:19] achannarasappa commented on #13
Font is something that is set in your personal terminal

[2021-02-01 22:19] #13 closed

[2021-02-01 22:21] achannarasappa commented on #9
@pgrunm can you clarify if the request to support converting the native currency of an exchange or to track forex?

[2021-02-01 22:28] achannarasappa commented on #12
Thanks for the suggestion @luanmuniz

Exporting data is outside the scope of what I originally had in mind for `ticker` as a TUI to track live stock prices. If you'd like to export data at a point in time, I'd suggest you have a look the underlying API call e.g.:
`curl "https://query1.finance.yahoo.com/v7/finance/quote?lang=en-US&region=US&corsDomain=finance.yahoo.com&symbols=NET" | jq '.quoteResp

[2021-02-01 22:28] #12 closed

[2021-02-01 23:33] achannarasappa opened #15 "Contract tests"
It would be great to have a consumer-driven contract test run on a daily schedule with a GitHub action and a corresponding indicator badge to signal pass or failure to get ahead of any breaking API changes

[2021-02-02 03:44] jamshedalii33 commented on #15
yes dear i read your full view about consumer driven contrect but you did **[miss this thing](https://modapkclub.com/mini-militia-mega-apk/)** .now check this and  retype your request,

[2021-02-02 03:49] jamshedalii33 opened #16 "how to complete profile of github?"
Hii dear i am a new user of git hub and i want to st his profile at ** [github properly](https://machinerygeek.com/best-commercial-zero-turn-mower/)** please guide me.

[2021-02-02 09:45] hmm3 commented on #7
Perhaps use various shades of green and red text depending on the % gain or loss.  Perhaps bold if more than 3%.  If more than 5%, then instead highlight using various intensity green/red text background depending on % gain/loss.

Also would be nice if you could give volume that also was highlighted if e.g. it look abnormal, e.g. 50% more than the average volume per day, depending on the time of t

[2021-02-02 12:18] #16 closed

[2021-02-02 12:41] achannarasappa commented on #7
Thanks for adding your ideas @097115 and @hmm3!

I'll respond to each of your points below:

This is an interesting idea although it's possible it could add a decent amount of complexity as you've mentioned. For example, we'll have to handle cases like if an alarm enters a triggered state, how can should we handle if it is triggered multiple times in a short period (i.e. debounce) such that the ex

[2021-02-02 12:50] 097115 commented on #7
I'm OK with that. For me personally, a proper visual is absolutely enough :)

(It's just when @chrisBinder mentioned **notifications** first, I understood it as system wide notifications, which leads to different commands across different OSes, which leads to "why not configurable then?" :))

Thanks for your reply!

[2021-02-02 14:10] GETandSELECT opened #20 "(feature request) show profits/loss percent based on "lots""
Hi

Thank you very much for this software. At the moment I use the _Stocks.app_ from Apple, which unfortunately has a proprietary file format. YAML is much better. The first impression of your software has me excited.

Example config:

[code]

Let's suppose I bought 0.24 Bitcoin for 900 Euro in the past.
I now wish to see how much profit or loss I made (in percent) with today price.

I am absolute

[2021-02-02 14:56] achannarasappa commented on #20
Thanks for the suggestion!

To clarify, is the ask for an option to show gains and losses to date (as opposed to current day gains/losses which is already implemented)?

[2021-02-02 17:09] GETandSELECT commented on #20
yes. the gain or loss in percent since you bought the stock or crypto (based on price you bought it)

[2021-02-03 00:20] galmadar commented on #5
I suggest PR #21 for the requested enhancement.
Currently there is an option to sort by Symbol (name of the ticker) and by ChangePercent via the configuration file or a CLI argument.

[2021-02-03 02:14] achannarasappa commented on #8
Closed with #10

[2021-02-03 02:14] #8 closed

[2021-02-03 02:24] viperperidot commented on #14
Is there a fix for this?... Seems like a pretty major feature for this project that should be working.

[2021-02-03 03:10] viperperidot commented on #14
Do you need a screenshot or something?

I copied your config example exactly so I dont think there is anything wrong with the .yaml.

[2021-02-03 03:52] #14 closed

[2021-02-03 07:03] 097115 commented on #5
@galmadar Great news! However, I'm probably missing something but it doesn't seem to work for me... :)

Pulled your fork/branch, built it, the sorting is indeed mentioned in the `--help` reference:

    --sort-quotes-by string   sort the quotes according to [Symbol, ChangePercent]. default sort is by ChangePercent (default "ChangePercent")

However, if running `./ticker -w UBER,AAPL --sort-quotes-

[2021-02-03 08:10] galmadar commented on #5
@097115 , Thank you for the comment!

The Bug happened because currently the quotes you mentioned (UBER, AAPL) are "inactive", and those quotes was concated **After** the orderBy method was called.

Anyway, I fixed that case, and when you will sort by `Symbol`, it will be sorted as expected.
Please pull and check it out again :)

[2021-02-03 09:20] 097115 commented on #5
@galmadar

Thanks for bugfix!

However, as of commit a9b7422, something strange is still going on :)

1. `sort-quotes-by: "Symbol"` in `~/ticker.yaml` seems not to have any effect
2. the "easy" case `./ticker -w UBER,AAPL --sort-quotes-by Symbol` works fine. However, if we are reading stocks (both the wathchlist and the lots) from the config file, the results look a bit weird (just in case, in thi

[2021-02-03 11:47] Milchdealer commented on #9
Converting the native (or dollar) currency to the local currency of the terminal user.

[2021-02-03 12:03] b0o opened #26 "Module path should include repository hostname / path"
To follow [Go conventions](https://golang.org/ref/mod#module-path) and to make this package `go get`-able, the [module path](https://github.com/achannarasappa/ticker/blob/master/go.mod#L1) should be `github.com/achannarasappa/ticker` and the package import paths should be `github.com/achannarasappa/ticker/{package}`.

Currently, attempting to `go get github.com/achannarasappa/ticker` (my preferred

[2021-02-03 12:11] nborrmann opened #27 "Allow empty watchlist"
First of all, this is awesome! I actually wanted to write something very similar myself but did not get around to doing it. Thank you!

Additionally, it would be nice to allow an empty watchlist.

[2021-02-03 12:16] achannarasappa commented on #27
@nborrmann great to hear your finding it useful!

In regards to the empty watchlist, is the idea to allow for use cases where users want to only track symbols that they have positions in i.e. if `lots:` is set, `-w` flag and `watchlist:` in config are not required?

[2021-02-03 12:21] nborrmann commented on #27
Yeah, exactly. If I leave the watchlist empty in the yaml, or remove the parameter from the yaml, it always complains about this.

[2021-02-03 12:29] nborrmann opened #28 "Add a thousands separator"
Large position numbers would be easier to read with a thousands separator, or even better make the number format string configurable.

[2021-02-03 12:50] josephreynolds1 opened #29 "Missing characters for symbols and seperator lines."
I am getting missing/placeholder characters when using the st terminal with the Terminus font.

Can you provide info on what fonts are necessary for showing the seperator and missing symbol characters.

![image](https://user-images.githubusercontent.com/46980014/106749025-08dc1a00-65f4-11eb-97ff-89995a18ba06.png)

[2021-02-03 13:00] achannarasappa commented on #29
@josephreynolds1 I've added a note in the readme about the proper fonts to use since this seems to be a common question. This links has a full list of supported fonts: https://www.fileformat.info/info/unicode/char/23af/fontsupport.htm

[2021-02-03 13:00] #29 closed

[2021-02-03 13:21] galmadar commented on #5
@097115

1. My bad - the default was `ChangePercent` event when there is a value for the flag `sort-quotes-by` in the config file.
**Fixed that it in the last commit :)**
2. About this section - I'm not sure how you got this situation. I've tried A LOT of scenarios but I didn't got to this. I'll be glad if you provide another example for that case?

[2021-02-03 14:39] 097115 commented on #5
It seems somehow this last commit 533015e fixed both issues :) Looks like the sorting by name works after all. Thanks for your efforts!

[2021-02-03 14:50] WhyNotHugo commented on #9
I'd love to see this request too.

To clarify, I'd like to see the value of my stocks and crypto in EUR, _not_ see the exchange rate USD<>EUR itself.

[2021-02-03 15:41] cpjolicoeur commented on #4
Same here.  I've already forked and added this to my own fork but it appears that @wbbradley has already submitted a PR for the feature, so I'll not open one for mine.

For me, having the option (or even the default) to see the total gain/loss on existing lots is more valuable/useful information than seeing just the daily gain/loss.

[2021-02-03 16:26] galmadar commented on #5
@097115
Thank you! :-)

@achannarasappa
Please let me know if there is anything else missing before you can add it to the release

[2021-02-03 16:27] batara666 opened #34 "indonesia stock"

[2021-02-03 16:33] cfredericksen opened #35 "Add Application Alert for price fluctuations"
I was thinking for Mac version to make the app send an alert when a % change occurs on a stock.

[2021-02-03 16:35] #35 closed

[2021-02-03 16:35] cfredericksen commented on #35
duplicate

[2021-02-03 16:59] for-coursera commented on #4
You mean totals for every stock separately? You bought your lot for 10, after 5 weeks it's 15, and you want to be able to see this total, 5, instead of a daily change? Am I correct?

I think, it would be great to have both totals, a total gain/loss for a particular stock, as you are suggesting, and a total for the whole portfolio, as it was originally suggested by @097115 .

[2021-02-03 17:02] for-coursera commented on #5
Wow, these user-defined groups would be so great!

[2021-02-03 17:20] cpjolicoeur commented on #4
@for-coursera Yes, I'm suggesting an alternative to the current info that ticker displays for aggregated lots.  Currently the aggregated lots display column shows your daily change and daily change %.  I'm suggesting (as I have done in my fork) that, this could be changed to show your total change and total change % instead.

So instead of seeing that my lots gained me $5 today and went up 1.2%, I

[2021-02-03 17:21] favll opened #37 "Not all securities have a `PostMarketPrice`"
`quote.go` uses `responseQuote.PostMarketPrice` if `responseQuote.MarketState == "POST"`, however, some securities do not have a post market price. E.g. the latest price for `https://query1.finance.yahoo.com/v7/finance/quote?lang=en-US&region=US&corsDomain=finance.yahoo.com&symbols=LUS.DE` after the market has closed will still be `RegularMarketPrice`. `ticker` wil therefore display `0.0` as lates

[2021-02-03 18:31] cpjolicoeur opened #40 "When looking in XDG_CONFIG_HOME YAML config file shouldn't have dot prefix"
When storing configuration files in XDG_CONFIG_HOME, it's not typical to also have the configuration file be a hidden file.

e.g.

    ~/.ticker.yaml
    ~/.config/ticker/ticker.yaml

This issue is just a placeholder to make the config file loader a bit more robust in how it search/loads the config file to allow for a bit more leeway.  The README does note the file being called `.ticker.yaml` in b

[2021-02-03 18:32] miguipda1 opened #41 "using a ticker.yaml does not explain what will be the command to run it"
Hi,

thank you for this great useful code I will daily use but ...
Even if I used the recommended yaml file I can not display this content by using even "ticker" or "ticker -w".
Then I read back twice the explanation but did not found how to run it  correctly. I even moved the yaml file from /usr/local/bin to /home or /home/<my account> and did not get it workable.

Please tell me how to use it pr

[2021-02-03 21:14] WhyNotHugo opened #42 "Show totals in the status bar"
Enhancement request: show the totals in the statusbar, aligned on the same column with the total values for each rows.

[2021-02-03 21:16] nodesocket opened #43 "Sort list of stocks in watchlist alphabetically"
Seems to be sorted by largest gain right now. Would be nice to have the option to sort alphabetically.

[2021-02-03 23:25] vermaden opened #44 "Please Delete"
Please delete.

[2021-02-03 23:42] #44 closed

[2021-02-03 23:58] #41 closed

[2021-02-03 23:58] achannarasappa commented on #34
If this is a question please use the discussion feature and add some detail

[2021-02-03 23:58] #34 closed

[2021-02-04 03:18] achannarasappa commented on #4
Thanks for your input everyone. I've implemented the show totals for all positions features in [v2.2.0](https://github.com/achannarasappa/ticker/releases/tag/v2.2.0).

Looks like there's some discussion around other types of totals - I'd suggesting opening a new issue to track that if that's a distinct request from this.

[2021-02-04 03:18] #4 closed

[2021-02-04 03:19] achannarasappa commented on #42
I've added this feature in [v2.2.0](https://github.com/achannarasappa/ticker/releases/tag/v2.2.0)

Go ahead and re-open if you had something else in mind.

[2021-02-04 03:19] #42 closed

[2021-02-04 05:24] cilia opened #46 "Apple M1 compatibility"
Does this package work natively with Apple M1 silicon?

[2021-02-04 05:32] 097115 opened #47 "Display the day growth during the off hours, too?"
If visiting a Yahoo page for a ticker during the off trade hours, you can still see the growth a stock had during the day compared to the previous close ([this blue rectangle](https://i.imgur.com/vyaElaT.png)).

In `ticker`, however, if no trade is going on, it's [equal to zeroes](https://i.imgur.com/xbJgpHc.png) :(

Would it be possible to fix this somehow? :)

[2021-02-04 07:21] nodesocket opened #48 "Add a changelog"
Can we get a `CHANGELOG.md` appended to when new versions are released?

[2021-02-04 09:12] xomtux opened #49 "Add a command to print portfolio values to stdout for unix style piping"
**Background**
Currently ticker only provides the data in a graphical user interface. To track portfolios over time or use the collected data in other ways the quotes and summaries should be printed to the stdout in a predefined format like json.

**Request**
In order to pipe asset and portfolio values into other tools in a CLI context, there should a command to print those values in different for

[2021-02-04 10:00] priyanshus commented on #15
What type of contract test you want to have? Since the provider is not in our control so would not suggest to use [pact](https://github.com/pact-foundation/pact-go/) based contract tests instead a simple response schema validation would suffice the need.

[code]

[2021-02-04 10:55] jonaslund commented on #20
Total P/L and daily P/L per lot makes sense an an option, as well as total portfolio holdings, with P/L, both daily and since the beginning. Eventually, ticker will turn into a Bloomberg terminal. 😅

[2021-02-04 11:07] mathiastj opened #51 "Summary mixes up currencies"
First off, thanks for a cool little utility.

The new summary feature `--show-summary` seems to add up all values without taking into account the currencies.

That is, they are all summed up even though the currencies are not the same, here is an example with a stock in USD and a crypto in EUR
<img width="1191" alt="Screenshot 2021-02-04 at 12 05 29" src="https://user-images.githubusercontent.com/

[2021-02-04 11:28] valentin-ok opened #52 "Positioning of Update Datetime"
The positioning of the update datetime in the lower right corner is cut off on two terminals I tested.
Is it possible to to align it with the current value (which isn't cut off).

Best Regards
![ticker_cutoff_date](https://user-images.githubusercontent.com/75795471/106886749-867f5300-66e4-11eb-975d-67c7d4028c95.png)

[2021-02-04 13:27] valentin-ok opened #53 "Color Configuring"
The Dark Grey is barely readable on dark terminals when there's sunlight in the room.

Best regards
![ticker_cutoff_date](https://user-images.githubusercontent.com/75795471/106898863-001f3d00-66f5-11eb-8619-650241c756e7.png)

Edit:
This is a tricky one. ticker isn't using ANSI colors but termenv, which doesn't respect color schemes.

I patched it with fatih/color to use ANSI for most Text and it i

[2021-02-04 16:01] trapatsas opened #57 "Total change instead of daily change"
Can we have the total change of positions instead of the daily one? I believe it's much more useful.

![daily_position_change](https://user-images.githubusercontent.com/4463408/106919527-e7258480-6712-11eb-8c4e-c962506b104e.png)

[2021-02-04 16:19] dtcooper commented on #51
Also note cryptos aren't included in summary, ie `BTC-USD` and `BTC-DOGE`

[2021-02-04 16:25] LtPinback opened #58 "Interval is ignored"
As far as I can tell the interval flag and the corresponding option in the yaml configuration file is ignored thus always refreshing every 5 seconds.
Using Windows amd64 v2.2.0.

Also a version flag would be nice.

[2021-02-04 17:23] for-coursera commented on #57
Second that. And also pinging @cpjolicoeur, he had some insightful input on this topic here https://github.com/achannarasappa/ticker/issues/4#issuecomment-772603697

[2021-02-04 17:35] adupuis2 opened #59 "No information displayed"
Ticker is not showing any stock data at all.
Here is the result for `ticker -w NET,AAPL,TSLA`
![image](https://user-images.githubusercontent.com/19765648/106931849-6902b700-66ed-11eb-896d-8d463c4ea89c.png)

Here is `ticker -w NET,AAPL,TSLA --show-tags --show-fundamentals --show-separator --show-summary`
![image](https://user-images.githubusercontent.com/19765648/106931882-7324b580-66ed-11eb-8cd5-1

[2021-02-04 18:03] ibuda opened #60 "Flickering on updates in tmux"
Hi, I was wondering if I am the only one experiencing flickering on updates of the tickers list.
I've just installed the package, and for demo purpose added AAPL,NET,TSLA tickers.
I use tmux, could be this the source of the problem?
I tested it on simple terminal, it works ok.

My os is ubuntu 20.04.

[2021-02-04 18:08] fspoettel commented on #59
seeing the same, ubuntu 20.04, new installation

[2021-02-04 18:10] cpjolicoeur commented on #57
Yes, I've already implemented this in my fork.  I just need to add a couple test cases to the test suite for it and I'll open a Pull Request here when I do.

[2021-02-04 18:25] cpjolicoeur commented on #57
@trapatsas @for-coursera feel free to use my fork if you want until then.  You can see[ the relevant commit here](https://github.com/cpjolicoeur/ticker/commit/d82a8536ad561948c8924e69bca60c6080c7a14d)

[2021-02-04 18:31] 097115 commented on #60
Yeah, I'm also experiencing that. You have a split window by any chance? Or just a relatively small one may be?

[2021-02-04 18:40] ibuda commented on #60
@097115  I do have my window split, the pane is not small though, as it does not run if the pane is smaller than a certain threshold (do not remember which one). But no matter how big I make the pane, it still flickers.
If I open a new window though and run the ticker there, the flickering stops.

[2021-02-04 18:51] 097115 commented on #60
A new tmux non-splitted window? Or a new terminal window without tmux?

Anyway, can't really help much except for confirming this probably tmux-related flickering in some situations (doesn't seem to flicker in GNU Screen, by the way)

[2021-02-04 19:42] adupuis2 commented on #59
BTW I'd be happy to take a crack at debugging this, if you wouldn't mind pointing me in the right direction @achannarasappa. I've never done anything in Go so I have no idea how the project is structured or where to start.

[2021-02-04 20:23] madphilosopher commented on #58
Same issue on linux with v2.2.0 and this invocation:

`./ticker -i 60 -w BTC-USD,CAD=X,GME --show-separator `

[2021-02-04 21:17] Rudedog9d opened #63 "Auto-reload config file"
**Describe the solution you'd like**
Automatically reload the configuration file when it changes.

**Describe alternatives you've considered**
Using `inotifywait` or [`entr`](http://eradman.com/entrproject/).

**Additional context**
Using inotify on linux should be relatively easy?

[2021-02-04 23:20] achannarasappa opened #64 "Redundant/alternate data sources"
**Background**
Currently, data is pulled from Yahoo finance's unofficial API. Given the API is not officially supported, it could be shut down, limited, or changed  in some way that makes ticker unusable which presents a serious risk.

Additionally, there are data sources that may not be covered by Yahoo finance that users may find value in using with ticker's interface.

**Request**
In order to a

[2021-02-04 23:21] #15 closed

[2021-02-04 23:21] achannarasappa commented on #43
Duplicates #5

[2021-02-04 23:21] #43 closed

[2021-02-04 23:27] achannarasappa commented on #57
Thanks for the suggestion - I like the idea and feel that replacing the existing day change feature outright (without an option for day change) would be best. What are your thoughts?

[2021-02-04 23:33] cpjolicoeur commented on #57
@achannarasappa That's your call as the owner.  I simply added the option to keep backwards compatibility with how it currently works, but if you'd prefer to just swap it completely I can make those changes as well.

[2021-02-05 00:04] achannarasappa commented on #5
Great work @galmadar! The feature's been merged and is available in release [v2.3.0](https://github.com/achannarasappa/ticker/releases/tag/v2.3.0)

[2021-02-05 00:04] #5 closed

[2021-02-05 00:33] achannarasappa commented on #59
@adupuis2 , would you be able to try running a curl to confirm there's no network level issue?:

[code]

[2021-02-05 01:05] achannarasappa commented on #57
When making this decision, I'm considering which piece of information and provide the greatest value to users understanding the space is a hard constraint. Ideally we could make this decision based on data but this isn't possible in the case of ticker.

My hypothesis is that the total change in positions provides more value to users than day change because:
1. Percent day change will always equal

[2021-02-05 01:08] achannarasappa commented on #63
Thanks for the suggestion - would this require a code change in ticker itself? My understanding is that a tool like `entr` could hypothetical be used to reload `ticker` based on a config file change

[2021-02-05 01:28] Rudedog9d commented on #63
I was having some issues getting it to work correctly with `entr`. I figured it would be a nice feature to have built in, and if it was built in, it would/could be cross platform (using something like https://github.com/fsnotify/fsnotify).

I glanced through the code, and I wasn't sure where the best place to implement a file watcher was. If you could suggest a location in the code, and are intere

[2021-02-05 02:46] achannarasappa commented on #63
PRs are definitely welcome!

Currently the config file is read in at start time [here](https://github.com/achannarasappa/ticker/blob/master/cmd/root.go#L69)

If it's possible to trigger a reload on file change that would be the ideal way to implement this but I'd have to do a bit of research to give a more specific recommendation.

[2021-02-05 02:58] achannarasappa commented on #53
I hadn't head about `fatih/color` - thanks for turning me onto it. I'll definitely be looking into it.

The current color scheme definitely does make an assumption that the user is using a black background and I'm sure ticker looks pretty wonky with a light or non-block color background. I think this is worth addressing - whether it be with `fatih/color` or some other library

[2021-02-05 03:07] achannarasappa commented on #48
There's a changelog on the release page: https://github.com/achannarasappa/ticker/releases

Did you have something else in mind?

[2021-02-05 03:36] nodesocket commented on #48
Thanks for this project. I did not see the changelog notes in GH releases. Typically this is maintained in a `CHANGELOG.md` file in the repo like:

https://github.com/nodesocket/jsonlite/blob/master/CHANGELOG.md

Then in the GH releases notes you can just say:

[code]

[2021-02-05 03:39] reefland opened #65 "Request to toggle on/off the display the my dollar balances."
Would like the option to be able to toggle on/off the display the my dollar balances.

I'd like to be able to press a key such as `T` to toggle balance amount off, take a screen shot and toggle the balance back on.  Displaying all the gains / loss and percentages are fine.  I would just like a quick way to not show how much is actually invested.

In the yaml file, would like the ability to define

[2021-02-05 04:26] lukeify opened #66 "Total change in summary appears to be calculated incorrectly"

[2021-02-05 04:29] #66 closed

[2021-02-05 04:29] lukeify commented on #66
Apologies @achannarasappa, could you delete this issue? User error!

[2021-02-05 08:49] valentin-ok commented on #53
I just found out that termenv can do the basic ANSI colors 0 to 15 as well. It's just not documented.

https://github.com/muesli/termenv/blob/701b1fc7232bc1fe4d2f4030c5f0803d9bac63db/examples/color-chart/main.go#L10
https://github.com/muesli/termenv/blob/701b1fc7232bc1fe4d2f4030c5f0803d9bac63db/ansicolors.go#L3

[2021-02-05 09:06] priyanshus opened #69 "Region should be configurable to support other countries"
**Problem Statement**
Currently the region is hard-coded in the quote url.

**Proposed Solution**
It should be configurable in order to fetch the quotes from other countries.

[2021-02-05 09:23] priyanshus commented on #69
Seems no need to change country code to support other countries.

[2021-02-05 09:23] #69 closed

[2021-02-05 10:49] 097115 commented on #47
Probably related: it seems that sometimes (and for some stocks) `ticker` can't obtain data from Yahoo: [example](https://i.imgur.com/FekWDum.png) (I have a position in $LLY, and yet it displays nothing -- while the other stocks are displayed just fine)

[2021-02-05 13:47] cpjolicoeur commented on #57
@achannarasappa I'm in a agreement with you.

To me, the default should be to show the totals, and that is why I forked an made this change.   As you pointed out, your new `--show-summary` option also now allows users to see the total day change as an aggregate across all lots.

I think it's reasonable, in the future, to expand the lot position display a bit if requested, to show the total (overal

[2021-02-05 14:44] fspoettel commented on #59
can't speak for OP, but it does not seem to be a network issue for me.

[code]
returns a well-formatted response.

[2021-02-05 15:43] adupuis2 commented on #59
The same is true for me:

[code]

[2021-02-05 16:22] cpjolicoeur commented on #57
@achannarasappa I've updated PR #61 per our discussion here.

[2021-02-05 17:11] kamiyaa opened #73 "Bottom status bar covering information"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Start ticker with `show-fundamentals: false` `show-tag: false`
2. Scroll to the very bottom

**Expected behavior**
What should happen: See the price of the last stock
What actually happens: Last stock price is covered by bottom bar

**Screenshots**
![2021-02-05_12-11_12656

[2021-02-05 17:56] mjross commented on #57
I very much hope that this enhancement is made to the program, because the daily change would be useful only to someone who just happens to buy at the very beginning of that day, which must be a tiny fraction of use cases. Total change, on the other hand, would be extremely useful for short-term and long-term traders who want to sell a position once it is profitable.

[2021-02-05 19:14] OscarHanzely commented on #57
Yes I agree, there is no point of displaying the total market value of the investment with the daily change trend. It basically shows investments that are up since inception but in red numbers because of daily downturn. Very confusing behavior. Plus one for this one.

[2021-02-05 19:54] Gonzih commented on #26
Same problem here

[code]

[2021-02-05 22:10] junior opened #74 "Docker support"
**Proposed Solution**
Create Dockerfile and publish to Docker hub for easy usage without need to install the cli

**Use Cases**
Run Docker command to run Ticker

**Additional context**
Pull request already created with the solution. PR #75

[2021-02-05 22:14] junior commented on #74
# Testing

Already published on Docker Hub: https://hub.docker.com/r/junior/ticker

[code]

## Using options

[code]

## using configuration file

[code]

[2021-02-06 02:07] #57 closed

[2021-02-06 03:21] #58 closed

[2021-02-06 03:21] achannarasappa commented on #58
Fixed in v2.4.0

[2021-02-06 03:30] achannarasappa commented on #20
Added in release v2.4.0

[2021-02-06 03:30] #20 closed

[2021-02-06 03:41] achannarasappa commented on #59
The next step would be to use a debugger to have a closer look. From what's being rendered in the screenshots, it looks like data from the HTTP request never gets set. Unfortunately, without being able to replicate the issue myself, I can't add much here myself.

If you're up for debugging the issue, have a look at [this article](https://www.thegreatcodeadventure.com/debugging-a-go-web-app-with-vs

[2021-02-06 04:04] GETandSELECT opened #76 "please add a DONATE section in README.md"
Hi

thanks for ticker

please add a DONATE section in README.md

as many options as possible like crypto and classic plaforms like PayPal etc

thank yo

[2021-02-06 16:10] fspoettel commented on #59
Thanks for providing the debugging article, it's very helpful and I learned something.
Turns out the problem was sitting in front of the screen in my case :see_no_evil: Copied over the sample config in the README and did not unset the `proxy` which leads to the request silently failing with `: proxyconnect tcp: dial tcp 127.0.0.1:3128: connect: connection refused`.

Now that it works it looks like

[2021-02-06 17:23] achannarasappa opened #79 "HTTP response errors are not reported to user"
**Describe the bug**
When there is an unexpected response with making the HTTP request retrieve quotes, the UI shows blank content with no indication as to what the problem is.

**To Reproduce**
Steps to reproduce the behavior:
1. Start ticker with `ticker -w AAPL --proxy "http://localhost:9999"` (assuming no proxy exists at this port/host)
2. See empty UI with no error message

**Expected behavio

[2021-02-06 17:27] achannarasappa commented on #59
Thanks for debugging this @fspoettel ! Glad to see you were able to find the root cause

I've removed the proxy setting from the readme so that folks who can copy the example config and expect it to work for them in most cases.

I also opened #79 in order to implement better error reporting. Ideally a debugger is not needed to detect errors like this :)

[2021-02-06 17:27] #59 closed

[2021-02-06 18:26] achannarasappa commented on #74
Thank you for the suggestion and proposed solution!

I think the ideal implementation would have the the image built through goreleaser/Github Actions: https://goreleaser.com/customization/docker/

This would ensure the latest version is always available on Docker Hub

[2021-02-06 18:52] junior commented on #74
Agree. Currently using the git docker integration, but would work better on the main repo.

An action would integrate better.

[2021-02-06 19:07] achannarasappa commented on #26
I believe I've resolved the problem. Please reopen if that's not the case

[2021-02-06 19:07] #26 closed

[2021-02-06 19:12] achannarasappa commented on #48
Thanks for the suggestion however I think the changelog in releases is more maintainable since it's generated by the release tool automatically understanding the tradeoff being that some may expect a distinct changelog file which they won't find in the repo

[2021-02-06 19:12] #48 closed

[2021-02-06 19:25] adupuis2 commented on #59
Oof, that's embarrassing. I can confirm it was the same issue for me as well. Thank you both!

[2021-02-07 00:03] Gonzih commented on #26
Thanks a lot!

[2021-02-07 13:16] caalberts opened #80 "Start ticker with default ~/.ticker.yml"
**Problem Statement**

As a user, I want to start ticker to monitor my watchlist and existing lots in the default config `~/.ticker.yml`

**Proposed Solution**

Running `ticker` without any options starts `ticker` using the default `~/.ticker.yml`.

This would tie in with well with [a command to add a lot](https://github.com/achannarasappa/ticker/issues/81).

Example usage:

[code]

[2021-02-07 13:17] caalberts opened #81 "Ticker command to add lot"
**Problem Statement**

As a user, I want to add a lot at any time from the command line without having to edit `~/.ticker.yml`

**Proposed Solution**

Running a command such as `ticker lots add abnb --quantity 100 --unit-cost 147.00` adds this to the lots in `~/.ticker.yml`

This would tie in with well with [a command to start ticker without any flag](https://github.com/achannarasappa/ticker/issue

[2021-02-07 13:20] caalberts commented on #80
@achannarasappa What do you think of this? If you think that this is feasible, I can take a stab at a PR.

[2021-02-07 17:17] achannarasappa commented on #74
I've added a Github Action to build and publish to Docker Hub. Have a look and see if it meets your need

[2021-02-07 17:17] #74 closed

[2021-02-07 17:20] achannarasappa commented on #76
@GETandSELECT I've set up the Github Sponsors feature that hopefully covers this. Thanks for the support

[2021-02-07 17:20] #76 closed

[2021-02-08 03:36] junior commented on #74
Looks great, but this implementation does not run on Docker running Apple Silicon or Docker on Raspberry Pi.

I've created another pull request, including this support.

Also included an option to include a new organization on docker, for easy remembering docker run command. You are owner of the organization. For your evaluation

[2021-02-08 03:37] junior opened #82 "Support for Docker running on Apple Silicon or Raspberry Pi"
**Problem Statement**
Need to run Ticker on Docker running under Apple Silicon and Raspberry Pi

**Proposed Solution**
Multi-arch Docker images

[2021-02-08 14:09] Asheboy opened #85 "Unable to pipe"
**Describe the bug**
I'm unable to pipe the output of ticker, for example to `less`.

**To Reproduce**
Steps to reproduce the behavior:
1. `ticker -w BOWL.L | less`
2. See error: `Unable to start UI: inappropriate ioctl for device`

**Expected behavior**
I'd expect to see output similar to `top | less`

**Environment (please complete the following information):**
 - OS: Linux - Ubuntu 20.04
 - Ter

[2021-02-09 00:57] achannarasappa commented on #80
Thanks for the suggestion @caalberts

I put some thought into this when originally thinking about how users would start ticker. I like the idea of being able to run a single command and having it start the application however I struggled to find a "reasonable" default for what stocks to watch. The stocks that users watch would be highly personal to them and by creating a pre-populated default set

[2021-02-09 00:57] #80 closed

[2021-02-09 01:52] caalberts commented on #80
@achannarasappa  Thanks for considering this. If this is the only concern, I think a sensible defaults can be indexes such as S&P500 or Dow. These would avoid creating bias towards certain tickers as well.

[2021-02-09 02:31] achannarasappa commented on #46
Added with #83

[2021-02-09 02:31] #46 closed

[2021-02-09 02:32] achannarasappa commented on #82
Closed with #83

[2021-02-09 02:32] #82 closed

[2021-02-09 04:51] enescakir opened #86 "Price Precision Config"
Thanks for great tool.

Number of the digits after the decimal point isn't enough especially for cryptocurrencies. Currently, precision is set to 2 in `ticker/internal/ui/util/format.go  >> ConvertFloatToString(f float64) string` file. It's very small.  `precision` configuration might be great.

I thought to open a PR, but I couldn't find a way to access config value in `ConvertFloatToString`. I d

[2021-02-09 15:15] mjross opened #87 "Sort by configuration file"
In the terminal window where the ticker data is displayed, the stocks (and other financial instruments) are by default sorted by percentage change for the day – specifically, the stock with the highest increase for the day is at the top of the list, and the stock with the largest decline is at the bottom. This might be helpful for some users who want to quickly see the biggest gainers and losers o

[2021-02-09 22:38] achannarasappa commented on #87
Thanks for the suggestion and detailed problem statement/use case

I've heard this from a few other users and agree this should be incorporated into a future release

[2021-02-09 22:46] mjross commented on #87
That sounds excellent. Thanks for your consideration!

[2021-02-09 22:49] achannarasappa commented on #86
I wonder if there is a sensible default that could be applied here.

If we were to expose an option to set precision globally, stocks with high and low value per unit may look odd e.g. (100000.00000 and 0.00013).

This issue warrants a solution but what the solution is is not yet clear to me.

[2021-02-10 06:10] enescakir commented on #86
Maybe we can decide it for each stock automatically. Yahoo Finance shows max 4 digit after dot.
It might me something like that
[code]
![image](https://user-images.githubusercontent.com/993199/107470792-03934800-6b7d-11eb-9868-ab0180570124.png)

![image](https://user-images.githubusercontent.com/993199/107470853-1c036280-6b7d-11eb-8794-1b7779592507.png)

![image](https://user-images.githubusercont

[2021-02-10 12:56] RmigD opened #88 "How can I compile this for a Raspberry Pi?"

[2021-02-10 14:20] danemacmillan opened #89 "Support cash or private equities in lots"
The most common use of this would be to support regular cash holdings. For example, say I have $1000 in my brokerage and invest all but about $0.83 due to the fact that buying equities amounted to $999.17. That leftover amount should still be tracked. Seeing a difference in a portfolio of even a few cents can make it appear like there's a miscalculation at a glance. Yahoo Finance supports `$$CASH`

[2021-02-10 14:52] ngocphamm opened #90 "Does not run on Raspberry Pi Docker"
**Describe the bug**
Does not run on Raspberry Pi Docker. Seems like there's no image available for the platform

**To Reproduce**
Steps to reproduce the behavior:
1. Run `sudo docker run -it --rm -v ${PWD}/.config/ticker.yaml:/.ticker.yaml achannarasappa/ticker`
2. See error

**Expected behavior**
Should run properly, because of https://github.com/achannarasappa/ticker/issues/82

**Environment (p

[2021-02-10 18:41] viperperidot opened #91 "Feature request: portfolio % for each lot"
Would it be possible to add the % of portfolio for each lot you have?

[2021-02-10 18:43] viperperidot opened #92 "Feature request: currency conversion"
Is it possible to be able to convert the information displayed at the top on the ticker app to a different currency other than USD?

[2021-02-10 22:40] achannarasappa commented on #92
Duplicate of #9

[2021-02-10 22:40] #92 closed

[2021-02-10 22:46] achannarasappa commented on #88
Have you tried to use the arm64 binary on the releases page? If that does not work, you can build with a custom $GOOS and $GOARCH as listed [here](https://golang.org/doc/install/source#environment) (e.g. `GOOS=linux GOARCH=arm go build main.go `)

[2021-02-10 22:47] #88 closed

[2021-02-10 23:41] achannarasappa commented on #90
The latest docker image weren't yet published. Try this one: `docker pull achannarasappa/ticker:3.0.6-arm64v8`

[2021-02-10 23:43] achannarasappa commented on #28
@nborrmann thanks for the suggestion. Would you be able to provide some example use cases for number format configurability? (beyond commas)

[2021-02-10 23:56] viperperidot opened #94 "Feature request: some kind of tab or page option"
Would it be possible to have tabs or pages or something similar to that so that you could better organize the stocks you are monitoring?

For example say you wanted to have 1 tab for stocks that you have holdings in, then a second tab for stocks that you are monitoring but have not invested in yet. Or if you wanted to create tabs based on the stock type for example Tech/Commodity/Industrial etc.

[2021-02-11 00:02] viperperidot opened #95 "Some markets display price of 0.00 after hours"
I noticed that some markets display a price of 0 after the markets close instead of showing the last traded price. It looks like this happens for smaller 'Other OTC' markets, not sure if this is an issue with the app or the API but I thought everything pulled from the Yahoo API had the most recent price. It stills show the daily increase/decrease % which is weird but not the actual stock price.

[2021-02-11 02:08] ngocphamm commented on #90
I tried `docker pull achannarasappa/ticker` and got `no matching manifest for linux/arm/v7 in the manifest list entries`

Then I tred your suggestion `docker pull achannarasappa/ticker:3.0.6-arm64v8`. It downloaded okay this time, but running the image result in the similar message as above

[code]

[2021-02-11 02:11] achannarasappa commented on #37
Fixed in v3.0.7

[2021-02-11 02:11] #37 closed

[2021-02-11 02:14] achannarasappa commented on #95
Fixed with v3.0.7. Please reopen if the issue you describe persists

[2021-02-11 02:14] #95 closed

[2021-02-11 02:25] achannarasappa commented on #90
Try downloading the latest release v3.0.7 which supports armv7 which it looks like you have. I'll have to do some research to understand how to get this working within docker

[2021-02-11 02:41] ngocphamm commented on #90
Tried both `docker pull achannarasappa/ticker` and `docker pull achannarasappa/ticker:3.0.7` to no luck. The page still shows no image for armv7 https://hub.docker.com/r/achannarasappa/ticker/tags?page=1&ordering=last_updated

[2021-02-11 07:10] pgrunm commented on #9
I can clarify this. I would like to see the the value of stocks in my native currency. For me it's Euro for example.

[2021-02-11 10:43] eyeds opened #96 "Single line for each stock"
**Problem Statement**
When monitoring dozens of stocks, separate line for stock name and daily change looks redundant. Please consider an option which makes every stock occupy single line only.
Thank you!

[2021-02-11 13:23] ngocphamm opened #97 "NTDOY doesn't show values after market closes"
**Describe the bug**
I'm not sure if this is because of the particular stock (NTDOY) or what. Just weird that after market closes the values are all 0s, so my lots show incorrect numbers, too.
If I restart ticker, it's showing again, until the next time it refreshes (by the interval set), it's all 0s again.

**To Reproduce**
Steps to reproduce the behavior:
1. Start `ticker` with lots containing `

[2021-02-11 13:31] achannarasappa commented on #97
Assuming you took this just now, I can see this stock is in the `PRE` market state but there is no pre-market price. Definitely a bug - thanks for reporting

[2021-02-11 13:58] ngocphamm commented on #97
Yup the screenshot was taken at the time I created the issue.

[2021-02-11 13:59] nborrmann commented on #28
Other countries use different numbers. Eg in germany the usage of commas and dots is reversed. Dots for thousands separators, commas for decimals (eg 1.000.000,00 for a million).

[2021-02-11 14:38] danemacmillan commented on #97
I've noticed something similar, so it's probably relevant to add. Leaving `ticker` to run overnight--it probably doesn't need all night--will result in all my lots, values, percentages, etc to be either some random negative number, or no number at all. In my case, there are three stocks, all on the TSX Venture exchange (TSX.V).

I've added a screenshot of just the summary line, but the price diffe

[2021-02-11 16:45] viperperidot opened #98 "App times out after a certain period"
I noticed that if you leave the application running overnight, at some point it loses connection and when you check it the next day it will not have updated since the previous day. Not a big deal because you can just restart the application but some people may want to just have it open all the time with live data.

[2021-02-11 19:03] JustinAiken opened #99 "Feature request: Groups"
**Problem Statement**
Differing investments - larger long-term crypto holdings vs day-traded weed stocks are all grouped and sorted together

**Proposed Solution**
- Each lot (or watched stock) can be assigned to a group
- Each group gets their own summary
- Groups are sorted as defined in config file

**Alternatives**
A tabbed view as described in #94 might also be nice

[2021-02-11 19:39] viperperidot opened #100 "Feature request: ability to make quantity and unit cost visible"
Would it be possible to make the quantity of stock held and unit cost information that is in the .yaml file display on the ticker app? It could just be an option like the other display options where you add the --show flag into the config file.

[2021-02-11 23:26] achannarasappa commented on #97
Fixed in v3.0.8

[2021-02-11 23:26] #97 closed

[2021-02-11 23:27] achannarasappa commented on #98
Would you be able to provide a screenshot that include the updated time in the bottom right corner?

[2021-02-11 23:37] achannarasappa commented on #53
I misunderstood your original request - I think the color scheme as-is is good. Changing it to use ANSI 16 would constitute a rather significant change in user experience in my opinion.

In the recent version, I've simplified the colors scheme to ANSI 256 where it made sense. I hope this at least somewhat addresses this problem for you. Perhaps another improvement could be to allow user configurat

[2021-02-11 23:37] #53 closed

[2021-02-12 12:41] lplit opened #101 "Add version"
**Problem Statement**
It's currently impossible to know which version of the app is installed

**Proposed Solution**
Add a `-v` flag

**Alternatives**
Show version number in the bottom bar

[2021-02-12 13:28] achannarasappa commented on #85
Hey @Asheboy ,

Would you be able to provide a use-case for this?

In reference to `top | less`, I do not see any meaningful output from this command:
![image](https://user-images.githubusercontent.com/1489983/107773644-f5276680-6d0b-11eb-96fb-1056eba55077.png)

In both of these cases, the UI updates continuously and thus I would not personally expect piping output elsewhere to produce useful outp

[2021-02-12 13:29] achannarasappa commented on #52
@valentin-ok would you be able to provide information on the terminal and font you are using?

[2021-02-12 13:30] Asheboy commented on #85
@achannarasappa My use-case is using a service like seashells.io. I have actually found that I don't experience the same issue using https://github.com/yudai/gotty, maybe something about them both being in Go?

[2021-02-12 15:09] valentin-ok commented on #52
Terminal: konsole
Terminal Font: MesloLGS NF 9

but if it's just me you can close the issue. I have fixed this in my private fork inserting a space on the right side. I couldn't really pinpoint the issue and this was a dirty little hotfix for my own sanity.

[2021-02-12 16:04] viperperidot commented on #98
I realized that because I use a VPN and sometimes lose connection that maybe this is not an issue with ticker and just a connectivity issue.

[2021-02-12 16:04] #98 closed

[2021-02-12 19:17] dtcooper commented on #100
As well as day gains per quantity, not just total gains! ❤️

[2021-02-12 21:06] mouuff opened #102 "Feature request: Self update"
**Problem Statement**
I am currently working on a easy to setup updater, which could be used for ticker.
The project is named rocket-update, it is hosted here: https://github.com/mouuff/go-rocket-update
Currently the project is in development stage, and we are looking for projects like yours, to use our solution, and get feedbacks from your community and your team.

If you are interested in this p

[2021-02-12 23:00] achannarasappa commented on #85
Thanks for the use case. I did some basic research on the issue and it could be because ticker is reading from stdin for scrolling and other ui controls.

If I understand correctly, the goal is to be able to view stocks in a browser context. If that is accurate, then there are multiple alternative solutions that could watch stocks in a browser with a potentially better interface.

If you're intere

[2021-02-12 23:19] achannarasappa commented on #47
Fixed with[de3e6ca690c057009e812a6d057d272c15d7c1f4](https://github.com/achannarasappa/ticker/commit/de3e6ca690c057009e812a6d057d272c15d7c1f4)

[2021-02-12 23:19] #47 closed

[2021-02-12 23:29] achannarasappa commented on #27
Fixed in latest release

[2021-02-12 23:29] #27 closed

[2021-02-12 23:42] Asheboy commented on #85
Thanks for taking a look. As I said, GoTTY handles Ticker absolutely fine
so I've been using that, so this isn't a priority for me either now.

On Fri, 12 Feb 2021 at 23:01, Ani Channarasappa <notifications@github.com>
wrote:

--

ash.summers@clock.co.uk
Senior Software Engineer

Office: +44 1923 261166

--
--

* <http://www.clock.co.uk/>
*

<https://www.clock.co.uk/insight/clock-launches-two-new-

[2021-02-12 23:43] viperperidot commented on #100
@achannarasappa looking forward to 3.1.0, looks like it will be a big release!! :D

[2021-02-12 23:48] #85 closed

[2021-02-13 00:28] viperperidot commented on #100
Would it also be possible to be able to show your initial investment cost for each lot? (Didn't think I needed to create a new issue for this)

[2021-02-13 16:51] mouuff commented on #102
I m adding this here, since this thread is related: https://github.com/achannarasappa/ticker/discussions/72

[2021-02-14 22:46] achannarasappa commented on #102
Thanks for the suggestion @mouuff

How does this compare to existing libraries such as https://github.com/sanbornm/go-selfupdate?

In general, I see auto-updating as providing a marginal amount of convenience to users given there are suitable alternatives by means of package managers.

[2021-02-14 23:01] mouuff commented on #102
Hello!

The library that you linked (go-selfupdate) requires you to run a server by yourself while rocket-update allows you to use github releases (as well as your own server if you need/want).

Here is a small list of the features of rocket-update which go-selfupdate doesn't have:
- Rollback (which allows installation verification)
- RSA signing
- Multiple sources for updates

And this is just th

[2021-02-14 23:44] #9 closed

[2021-02-14 23:44] #51 closed

[2021-02-14 23:44] #87 closed

[2021-02-14 23:44] #91 closed

[2021-02-14 23:44] #100 closed

[2021-02-14 23:44] #101 closed

[2021-02-14 23:45] achannarasappa commented on #101
Added in release v3.1.0

[2021-02-14 23:45] achannarasappa commented on #100
Added in release v3.1.0

[2021-02-14 23:45] achannarasappa commented on #91
Added in release v3.1.0

[2021-02-14 23:45] achannarasappa commented on #87
Added in release v3.1.0

[2021-02-14 23:45] achannarasappa commented on #51
Fixed in release v3.1.0

[2021-02-14 23:46] achannarasappa commented on #9
Added in release v3.1.0

[2021-02-15 00:04] viperperidot opened #104 "3.1.0 is stacked!!"
No issue I just wanted to say that this latest release is stacked!!! 🔥 🔥 🔥

[2021-02-15 00:04] #104 closed

[2021-02-15 00:28] viperperidot opened #105 "--show fundamentals flag possible to be part of the currency conversion?"
The new currency conversion feature is great, however if you have the --show fundamentals flag running that data still shows up in USD and not converted. Is it possible to allow the currency conversion to convert those values as well?

[2021-02-15 01:03] achannarasappa commented on #104
Thanks for the positive feedback! I really do appreciate it

[2021-02-15 01:30] GETandSELECT commented on #20
thank you very much

[2021-02-15 01:30] viperperidot opened #106 "Portfolio weight does not seem to add up to 100%"
I added up all the Weight % displayed by Ticker for my lots manually and they do not seem to add up to 100, I am not sure where the issue is for this.

[2021-02-15 01:48] viperperidot opened #107 "Total value not adding up correctly"
The total value is not adding up correctly when using the currency conversion.

I think what is happening is as follow:

- all the values of each lot are added up
- then that number is converted to create the total

The problem with this is that the numbers that are being summed up for each lot have already been converted, so you dont need to do another conversion with that number to get the total

[2021-02-15 01:52] viperperidot commented on #106
I think if #107 is fixed then this issue will also be fixed. I believe it may be a cascading issue because the % is calculated from the total.

[2021-02-15 01:54] viperperidot commented on #101
I see this was added in the latest release, what are steps to display the version number though?

[2021-02-15 02:02] achannarasappa commented on #107
Thanks for helping to testing this

I've pushed a fix for #106 #105 and this issue in release v3.1.1. Have a look if you have a moment and let me know if that resolves the issue

[2021-02-15 02:37] viperperidot commented on #105
fixed in 3.1.1, thanks!

[2021-02-15 02:37] #105 closed

[2021-02-15 02:39] viperperidot commented on #106
fixed in 3.1.1, my portfolio weight now adds up to 100%, actually it is 100.01 % but that must just be a rounding issue somewhere. Could look into it if you you want otherwise not a big deal.

[2021-02-15 02:39] #106 closed

[2021-02-15 02:40] viperperidot commented on #107
fixed in 3.1.1, nice!

[2021-02-15 02:40] #107 closed

[2021-02-15 02:45] achannarasappa commented on #81
Thanks for this suggestion @caalberts

My view on this one is that it won't save users a whole lot of trouble over editing the `.ticker.yaml` file directly.

If you're keen to edit yaml directly from your terminal, I'd suggest something like `yq`/`jq` which can [achieve assignments](https://stedolan.github.io/jq/manual/#Assignment) like you describe

[2021-02-15 02:46] achannarasappa commented on #73
Thanks for reporting this. This has been fixed and will be available in the next release

[2021-02-15 02:46] #73 closed

[2021-02-15 02:49] achannarasappa commented on #52
Thank for the info - I suspect it could be a font related problem since I haven't heard any other reports of this issue and I've tried on a few different combos of OS/terminal/fonts myself.

I'll close this issue for now but if you're able to pinpoint it to a code related problem let me know.

[2021-02-15 02:49] #52 closed

[2021-02-15 02:53] viperperidot opened #109 "Feature request: market cap and volume data available?"
I am not sure if this data is available through Yahoos API or not but would it be possible to add the Market Cap and Volume data to show when the --fundamentals flag is on? If this data is not available through the API that you use then we can just close this issue, just an idea that would give even more information on screen.

[2021-02-15 03:01] viperperidot opened #110 "Day change and total change not currently working"
Ok I think this is the last thing that might have stopped working after adding some of the new features like currency conversion.

The day change and total change that are shown at the top of Ticker are not currently working for me. I have currency conversion turned on so maybe that is why. For example the total change is showing my portfolio being in the positive but it is actually in the negativ

[2021-02-15 03:22] achannarasappa commented on #110
Good catch! Looks like the original cost basis for each lot was not being converted. I've fixed in the latest release v3.1.2

[2021-02-15 03:35] viperperidot commented on #110
Ok awesome the total change looks good now, the only thing that looks incorrect to me now is the day change. Maybe it is just wrong because markets are closed right now? Not sure but it shows an increase of an amount larger than the value of my portfolio which is impossible and also even though it shows that number the % only says an increase of 3.25%. So something is definitely wrong with this fi

[2021-02-15 03:50] achannarasappa commented on #110
Ah another bug - in this case, the total cost value was being used as the day change. Should be fixed with v3.1.3

[2021-02-15 04:00] viperperidot opened #111 "Feature request: Ability to set the unit cost for lots in local currency"
Can we make it possible to use the local currency that you have selected for your currency conversion to be used as the base unit cost for your lots with no conversion?

The reason for this is that if you put your unit cost in the .yaml as USD for an exchange and then use the currency conversion to display the unit cost and for your profit/loss calculation then the number will be incorrect relativ

[2021-02-15 04:06] viperperidot commented on #110
Yep fixed with 3.1.3 thanks!

[2021-02-15 04:06] #110 closed

[2021-02-15 04:31] mgalgs opened #112 "Recently introduced panic due to interface conversion"
**Describe the bug**
Panic due to interface conversion (see stack trace below)

**To Reproduce**
Steps to reproduce the behavior:
1. Check out `v3.1.2` (currently the tip of master) and run with `go run main.go -w TSLA`

**Expected behavior**
Normal execution of the program.

**Screenshots**

**Environment (please complete the following information):**
 - OS: Linux
 - Terminal: Alacritty
 - Termin

[2021-02-15 04:33] 097115 opened #113 "Make right-aligning the information optional?"
**Problem Statement**
After the commit fb09ef118acdc6cc24ac0d0ed994ec718970f526, all the stock-related information is now right-aligned. Which is not only quite a drastic change in the UI but also simply makes it harder to read since the different data cells are now just too close to one another (notice, there's A LOT more free space on the left now than it used to be -- while there's more data to

[2021-02-15 04:55] achannarasappa commented on #112
Thanks for reporting this - I believe I've resolved this in the latest release v3.1.4

[2021-02-15 04:56] viperperidot opened #114 "Feature request: show cost/investment in total and lot"
It would be nice if your cost for each lot was displayed as well as a total cost for all investments at the top summary bar.

[2021-02-15 05:22] viperperidot commented on #112
Not sure if this is the same issue but I just had this happen running 3.1.3:

[code]

[2021-02-15 06:42] mgalgs opened #115 "Feature Request: TD Ameritrade Sync"
**Problem Statement**
It would be super handy if `ticker` could just sync my positions from the [TD Ameritrade API](https://developer.tdameritrade.com/apis) on startup.

**Proposed Solution**
I'd propose reaching out to the [`account-access/apis-get/accounts-0`](https://developer.tdameritrade.com/account-access/apis/get/accounts-0) endpoint (with `fields=positions`) somewhere around [here](https:/

[2021-02-15 06:44] mgalgs commented on #112
Yes!

Fixed-in: 8a8fd37796b3aae262e69348b80226a7594f647a

Thank you :pray:

[2021-02-15 06:44] #112 closed

[2021-02-15 08:23] WhyNotHugo commented on #9
Thanks!

[2021-02-15 10:10] basetta opened #116 "Feature Request: Fees are taking into accounts"
**Problem Statement**
Fees are not talking into consideration.

**Proposed Solution**
It would be nice if in the lots we can add also the fees.

[2021-02-15 13:08] cwarden commented on #115
It looks like a localhost callback URL should work for getting an OAuth token: https://github.com/JonCooperWorks/go-tdameritrade/blob/master/examples/webauth/webauth.go

[2021-02-15 16:02] cwarden commented on #65
I know @achannarasappa expressed some reservations about adding interactivity features, but I like this idea: b4e235bfa4d19b5d1e60834d52458dda219d208f

[2021-02-15 16:24] 097115 opened #117 "Latest version crashes if no internet connection"
**Describe the bug**
Crashes If launched w/o internet connection

**To Reproduce**
Steps to reproduce the behavior:
1. disconnect your internet connection
2. start `ticker`
3. see error:

             panic: interface conversion: interface {} is nil, not []string

            goroutine 1 [running]:
            github.com/achannarasappa/ticker/internal/currency.transformResponseCurrencyPairs(0x0, 0

[2021-02-15 16:29] stefaneacsu147 opened #118 "Panic error because of interface conversion: interface {} is nil, not []string"
**Describe the bug**
It seems that something broke in the latest version and when you try to use any ticker command you get the following output:
[code]

**To Reproduce**
Just try to run ticker and it returns the following

**Expected behavior**
After running ticker -w AAPL, TSLA to return the output

**Screenshots**
-

**Environment (please complete the following information):**
 - OS: Ubuntu 20.

[2021-02-15 16:35] stefaneacsu147 commented on #117
It seems the issue was fixed in `3.14` - 8a8fd37796b3aae262e69348b80226a7594f647a release but it was not pushed yet.

[2021-02-15 16:35] stefaneacsu147 commented on #118
I just saw that it was fixed in 8a8fd37796b3aae262e69348b80226a7594f647a. Closing this.

[2021-02-15 16:35] #118 closed

[2021-02-15 16:41] achannarasappa commented on #117
Thanks for reporting this issue

I've triggered the build and release for v3.1.4 now

[2021-02-15 16:46] 097115 commented on #117
@achannarasappa , @stefaneacsu147 Thanks for your replies, guys!

However, are you sure it fixes the issue?  I've just build the latest master (8a8fd37) myself, and if launched without the internet connection, it still crashes for me.

[2021-02-15 16:51] achannarasappa commented on #117
Not sure if it would - the latest version addresses a different issue. I'll have to take a closer look later today

[2021-02-15 16:52] 097115 commented on #117
Thanks, Ani!

[2021-02-15 16:54] stefaneacsu147 commented on #117
It seems actually the issue was not fixed, I have upgraded right now to 3.1.4 and the issue persists.

[2021-02-15 22:20] mgalgs commented on #115
@cwarden nice find! That library looks great... Not sure how they're handling SSL either though... The `webauth` example doesn't work for me unless I use an ngrok tunnel... ([Issue filed](https://github.com/zricethezav/go-tdameritrade/issues/14) on the parent repo since the fork you linked to doesn't accept issues)

[2021-02-15 23:10] cwarden commented on #115
Oh, you're right.  You can configure your TD Ameritrade app with an http localhost callback URL and https://auth.tdameritrade.com/auth accepts it, but it changes the protocol to https when redirecting you.

Maybe use [simplecert](https://github.com/foomo/simplecert#local-development) or similar to generate a self-signed cert, and update `FinishOAuth2Flow` to get a refresh token by setting `access_

[2021-02-15 23:45] viperperidot opened #119 "Panic in 3.1.4"
Had this happen while running the latest version:

[code]

[2021-02-16 01:32] achannarasappa commented on #119
Thanks for reporting - not sure what's going on here. It could possibly have been caused by a network interruption. I've removed the `gubrak` so hopefully if this happens again, a more descriptive error will be produced.

[2021-02-16 01:33] achannarasappa commented on #117
Should be fixed in v3.1.5 . New behavior is that ticker won't start if there's no network connection and report a useful error. Have a look when you get a chance and let me know if it's still occurring.

[2021-02-16 01:54] viperperidot commented on #111
I realized a simpler way of explaining this is that your unit cost should not change, it is fixed at the time of purchase. But by having this number constantly converted using the most recent forex exchange rate this number fluctuates when it should remain static.

[2021-02-16 02:07] achannarasappa commented on #111
Thanks for suggesting this. It makes sense to me to include this option in a future release

[2021-02-16 02:14] viperperidot commented on #119
Awesome I will re-open this if it happens again thanks!

[2021-02-16 02:14] #119 closed

[2021-02-16 02:31] achannarasappa commented on #116
Hey @basetta,

Would you be able to provide a proposal for how this would be represented in the config file and some use cases?

[2021-02-16 03:38] achannarasappa opened #121 "Responsive terminal design"
The current UI is designed to support terminal width from 80 characters without any upper bound. For users with larger terminal, there may be substantial empty and unused space between the left and right blocks of information.

The ideal solution would display more information on wider terminal and and less on smaller terminals. Possible ways to achieve this:

- For fields with labels, hide labels

[2021-02-16 03:44] achannarasappa commented on #86
Your suggestion looks sensible to me. A PR would be very much welcome :)

[2021-02-16 04:29] viperperidot commented on #121
Just my opinion but I have adjusted my terminal size to fit Ticker ideally, can't everyone do this?

[2021-02-16 05:13] 097115 commented on #117
@achannarasappa

Yeah, it's fixed now (also, after waking up from sleep and before the laptop connects to the wireless, it first goes empty, since has no data, and then, after the laptop does connect to the network, refreshes just fine, no more crashes).

Thanks again, closing this :)

[2021-02-16 05:13] #117 closed

[2021-02-16 13:11] achannarasappa commented on #121
@viperperidot that's a fair point and reasonable workaround

One reason I had for this change was to capitalize on the extra space for larger terminal windows and show some of the extra information like fundamentals and holders on the default two lines. This would allow users with larger terminals to see more information in the same vertical space. This would also alter the layout to better suppor

[2021-02-16 15:54] viperperidot commented on #121
Ok that makes sense, once you add more features the smaller terminal windows could get a little crowded. But the user also has the ability to disable some of the additional information if they just want a quick snapshot in a small window and use full screen if they want all the details manually. Having it responsive would take a little config out of the equation though which might be nice for some

[2021-02-16 22:25] cwarden commented on #112
@achannarasappa do you want a separate issue for this one? https://github.com/achannarasappa/ticker/commit/2f674085#r47140876

[2021-02-16 23:49] achannarasappa opened #125 "panic when there's only one currency"
@achannarasappa do you want a separate issue for this one? https://github.com/achannarasappa/ticker/commit/2f674085#r47140876

_Originally posted by @cwarden in https://github.com/achannarasappa/ticker/issues/112#issuecomment-780157077_

[2021-02-16 23:52] achannarasappa commented on #125
Thanks for reporting @cwarden

Can you provide some more details on how to replicate this bug or a sample config file? I have tried to replicate with no luck

[2021-02-17 12:29] cwarden commented on #125
Here's a minimal config file to replicate:
[code]

[2021-02-17 13:31] system1system2 commented on #64
Best free and real-time finance API I could find: https://finnhub.io/

[2021-02-17 14:59] danaspiegel opened #126 "Add option to change the colors of the various UI elements"
**Problem Statement**
I have a **white** background on my terminal screen. Yes, black is traditional, but I find a white background easier to read. :) With a white background, the display of information in the UI is mostly unreadable, either being too light (greens, grays) or being inverted gray with lighter gray foreground coloring.

![image](https://user-images.githubusercontent.com/6631/1082224

[2021-02-17 18:27] pichalite opened #127 "Add support for short positions in lots"
**Problem Statement**
Add support for shorted positions

**Proposed Solution**
Short position will be identified by negative quantity in the lots. Cost of the shot position will be current price * quantity (positive). Value will be unit cost * quantity (positive).

[2021-02-17 21:12] dohnto opened #128 "Docker version fails to start"
**Describe the bug**
Following README and using containarized version & cannot start the ticker

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Start of the ap

**Environment (please complete the following information):**
 - OS: linux
 - ticker Version:
[code]

[2021-02-17 21:37] dohnto commented on #128
Ah, this only happens when no arguments/config is passed. In that case just a helpful message would be appreciated for newcommers to not abandon it after first unsuccessful try.

[2021-02-18 00:56] achannarasappa commented on #125
Thanks for the example. In this case, the root cause could be because the symbol does not exist in Yahoo finance or the symbol differs. Searching `RDS.B` returns the information for `RDS.BA` in Yahoo finance. Is _Royal Dutch Shell plc (RDS.BA)_ the company you wanted to track?

What's strange is that it return any information at all. In any case, I'll add some handling for the condition where a qu

[2021-02-18 01:28] achannarasappa commented on #128
Thanks for reporting this

Not sure why but a locally, built image works fine but the one on docker hub fails with the error you reported. I'll have a closer look - this should definitely be fixed.

[2021-02-18 04:25] pichalite commented on #125
@cwarden @achannarasappa I had similar issue with "BRK.B". Yahoo has the ticker as "BRK-B". For "RDS.B", use "RDS-B".

[2021-02-18 12:14] cwarden commented on #125
Thanks, @achannarasappa and @pichalite.  Yes, it's the Royal Dutch Shell Class B ADR.

[2021-02-18 12:28] cwarden commented on #113
Maybe just revert fb09ef118acdc6cc24ac0d0ed994ec718970f526.  I also found it much easier to readh price/value/change on the right, and all supplemental info on the left.

Moving additional data closer to right might work ok in a single-row display with column headers and cell separators.

[2021-02-18 12:37] 097115 commented on #113
@cwarden That's what I did, indeed (and some other changes, too). However, while maintaining a personal fork is fun, it's certainly doesn't protect you from possible incompatible future changes in the upstream :)

[2021-02-18 13:08] achannarasappa commented on #126
Thanks for the suggestion! I've heard this a couple time and I think it make sense to include at the minimum a light color scheme UI but ideally something that is either dynamic (i.e. detects the background color and adjusts) or configurable (i.e. setting the colors explicitly)

[2021-02-18 13:09] achannarasappa commented on #125
I've pushed a fix but there's some issue with goreleaser that I'll have to look into before it's available

[2021-02-18 23:19] achannarasappa commented on #128
In the latest version, I see this is working:

`docker pull achannarasappa/ticker:latest && docker run -it --rm achannarasappa/ticker:latest`

[2021-02-18 23:19] #128 closed

[2021-02-18 23:20] achannarasappa commented on #125
New version has been released - please reopen if you're still experiencing the issue

[2021-02-18 23:20] #125 closed

[2021-02-19 01:22] viperperidot commented on #126
Not sure what distro OP is using but you should be able to just create a new terminal theme and create a new profile for it. You can leave your default white but switch to the custom ticker profile theme that you created when you run the app.

[2021-02-19 22:58] achannarasappa commented on #113
Was hoping this would add to clarity but I can see you point where there's now a lot of info on the right side.  I'm planning to re-evaluate the positions of all elements in #121. There's been a lot of information added now as optional rows but I'm thinking this can be better organized and screen real-estate can be better used. If you have ideas or suggestions of how to best position elements in g

[2021-02-19 22:59] achannarasappa commented on #127
Thanks for the suggestion!

Do you know if this is available on Yahoo Finance? Would you be able to provide an example if so?

[2021-02-20 00:54] pichalite commented on #127
@achannarasappa Don't think there is anything specific you need to get from Yahoo Finance. It's got to do with how you calculate the position values. When you short a stock, you start the position by selling the stock.

When you buy stock, the cost for the position would be quantity * unit_cost and current value would be quantity * current_price.

When you short a stock, the cost for the position

[2021-02-20 07:14] 097115 commented on #113
@achannarasappa Thanks for your interest! (not that I can add much, though :)

As @cwarden has pointed out, I reverted fb09ef1 and thus now have essentials on the right and all the supplemental information on the left. I also sort of joined `fundamentals` and `holdings` to be on one line, with `fundamentals` on the left again, and `holdings` on the right. Here's a pic: https://i.imgur.com/SJ7TWy9.

[2021-02-20 08:29] gabrielpres opened #131 "Option to convert to a currency only the Summary line"
Hi, congrats on this very useful app. If I may add a feature suggestion, it would be the option of showing only the summary (total value, total change, total daily change) in a different currency, while leaving the currencies of the lots and watchlist in the relevant market currencies. I think this would leave the correct level of detail for the single lots (e.g. current price in the actual market

[2021-02-20 12:36] fspoettel commented on #126
I like how tickrs [handles this](https://github.com/tarkah/tickrs/wiki/Config-file). It defaults to system-defined ANSI256 colors and default terminal background/foreground rather than hardcoding hex values. It also supports setting specific hex values via the config file. This approach degrades nicely for light backgrounds and other unusual themes in my testing.

I adjusted ticker on my personal

[2021-02-20 18:23] #86 closed

[2021-02-21 02:19] viperperidot opened #132 "Panic in current version"
[code]

[2021-02-22 19:06] viperperidot commented on #109
I think another metric that would be useful to have if possible would be the 52 week high/low.

[2021-02-23 23:43] achannarasappa commented on #132
@viperperidot thanks for reporting this

Would you be able to provide an example `.ticker.yaml` file to help replicate this?

[2021-02-23 23:44] achannarasappa commented on #131
Thanks for the suggestion

It makes sense to me to include this in a future release.

[2021-02-24 02:35] viperperidot commented on #132
Sure
[code]
I just X'ed everything out for privacy but thats basically it, using the format shown in the readme.

[2021-02-24 02:40] achannarasappa commented on #132
Would it be possible to provide a anonymized/minimal version of your config? For example, this config based off of your example works okay for me:

[code]

[2021-02-24 03:53] viperperidot commented on #132
Maybe it is because I had that `-` blank watchlist spot. I have removed it now so that my watchlist is empty and it just says `watchlist:` and then goes onto the next line with the lots. I will let you know if it happens again after changing that.

[2021-02-24 17:06] mjross opened #135 "Day range low to high (instead of high to low)"
In the terminal window where the ticker data is displayed, the "Day Range" values are listed with the high value first and then the low value, which is the opposite of standard practice for every such price range I have ever seen – in fact, any value range outside of financial markets. For instance, in mathematics, an inclusive range of the values from 2 to 3 would be shown as "[2, 3]" and not "[3

[2021-02-24 17:49] achannarasappa commented on #135
Thanks for noticing this and reporting. This is a bug that was introduced when I switched from using the day range property returned by the API to building the range from the underlying values themselves. I'll schedule a fix for an upcoming release

[2021-02-24 17:52] mjross commented on #135
Very good. Thanks!

[2021-02-24 21:02] viperperidot commented on #132
Will reopen if it happens again

[2021-02-24 21:02] #132 closed

[2021-02-24 23:11] achannarasappa commented on #135
Fixed in latest release

[2021-02-24 23:11] #135 closed

[2021-02-24 23:32] mjross commented on #135
Much appreciated!

[2021-02-26 13:57] travis-mark commented on #63
As an alternative to live reload, I was thinking about if $EDITOR (or similar) is defined, add a command "e: edit stocks" that opens .ticker.yaml from $EDITOR in a subprocess and then refreshes the list on close.

[2021-02-28 01:17] tmack8080 opened #136 "Getting Permission Denied on .ticker.yaml file"
Created a $HOME/.ticker.yaml file with the contents from the read me:
show-summary: true
show-tags: true
show-fundamentals: true
show-separator: true
show-holdings: true
interval: 5
currency: USD
watchlist:
  - NET
  - TEAM
  - ESTC
  - BTC-USD

Receive the following error from the CLI:
~$ ticker --config .ticker.yaml

Invalid config: open .ticker.yaml: permission denied

Permissions on the file:

[2021-02-28 04:04] achannarasappa commented on #136
Would you mind trying to run this within a VM or docker container? Although your file permissions look okay, this sort of issue is typically machine specific

You could also  try opening the file with vim (e.g. `vim .ticker.yaml`) to see if a similar error is raised

[2021-02-28 09:05] MateuszPu commented on #99
I think the temporary workaround for this problem is creating multiple config files and run ticker with --config command.
ex:
ticker --config myportfolio1.yml
ticker --config myportfolio2.yml
ticker --config myportfolio3.yml

[2021-02-28 14:37] tmack8080 commented on #136
Hi Ani,

I am running this Ubuntu 20.04 VM on MS Hyper-V, on a Windows 10
workstation.

I am able to edit the file without issue using Nano & VI.

I tried this on a native Windows 10 workstation and it works as expected.
I'm fine with that.

I'm happy to continue troubleshooting if you want to find the root cause
but for now I'll use Windows.

Thanks.

On Sat, Feb 27, 2021 at 11:04 PM Ani Channara

[2021-02-28 19:57] Rudedog9d commented on #63
@travis-mark My use case is writing the file from an outside application. Opening an editor on exit would be pretty trivial with bash:

[code]

[2021-03-01 14:05] randlet commented on #136
I also had the same error on Ubuntu 18.04 using the snap package.  Installing using the general Linux install instructions worked fine though.

[2021-03-01 15:42] tmack8080 commented on #136
I too used the Snap installer. I'll try again with a manual install.

Thanks

On Mon, Mar 1, 2021 at 9:05 AM Randle Taylor <notifications@github.com>
wrote:

[2021-03-01 18:24] danaspiegel commented on #126
I'm actually on Mac OS using the default Terminal.app. Installation via homebrew. ANSI colors are unchanged from default, but foreground and background colors are inverted (black foreground, white background).

This sort of solution would work for me as well. Just being able to actually define at least primary colors would solve the issue.

[2021-03-01 22:35] achannarasappa commented on #136
Thanks @randlet and @tmack8080 that's a really useful detail. I'll have a look at the snap package and see what's wrong there

[2021-03-04 20:55] quant9 opened #140 "ticker app exits when trying to scroll with arrow keys or pgup/pgdn"
**Describe the bug**
I am unable to scroll up / down with the arrow keys or page-up/page-down keys. Instead of scrolling, the app exits instead (as if I pressed q or ctrl+c). I also tried scrolling with the wheel to no success.

**To Reproduce**
Opening Ticker app on my terminal results in this issue.

**Expected behavior**
I am not aware of any other ways to scroll.

**Screenshots**
N/A

**Enviro

[2021-03-04 20:59] quant9 opened #141 "Spaces + icons showing up as squares / question marks"
**Describe the bug**
Certain characters, specifically spaces and the round circle icon, are not rendering correctly. Spaces show up as squares while icons show up as question marks.

**To Reproduce**
Run `ticker` with the default ~/.ticker.yaml file per the example in https://github.com/achannarasappa/ticker#configuration.

**Expected behavior**
Characters should not be rendering incorrectly

**Sc

[2021-03-05 00:33] achannarasappa commented on #141
You will need to use a font that supports the unicode characters used by ticker. Have a look at the readme for more info.

I use _DejaVu Sans Mono_ with ConEmu on Windows 10 and the proper characters are rendered.

[2021-03-05 00:33] #141 closed

[2021-03-05 00:34] achannarasappa commented on #140
Please try with the latest version and let me know if the issue is still occurring.

[2021-03-05 02:08] achannarasappa commented on #7
This issue is stale because it has been open 30 days with no activity. Remove stale label or comment or this will be closed in 7 days.

[2021-03-07 02:42] achannarasappa commented on #121
Added in latest version

[2021-03-07 02:42] #121 closed

[2021-03-07 02:51] achannarasappa commented on #126
In the latest release, I've added better support for non-TrueColor terminals and the ability to set a custom color scheme. Check it out and let me know what you think!

I'll close this issue for now but feel free to re-open or open a new issue if you feel this feature could be further improved

[2021-03-07 02:53] achannarasappa commented on #113
In the latest release, additional information is shown in line with positions and quotes but a larger terminal window is needed to make these visible. Hopefully this make it easier to values a littler easier to read. Have a look and let me know what you think - I'll close this issue for now but do re-open if you feel there's more to be improved.

[2021-03-07 02:53] #113 closed

[2021-03-07 02:54] achannarasappa commented on #114
Total cost has been added in the latest release

[2021-03-07 02:54] #114 closed

[2021-03-07 02:56] #81 closed

[2021-03-07 02:58] achannarasappa commented on #94
Closing this one so we can consolidate discussion into #99

[2021-03-07 02:58] #94 closed

[2021-03-07 03:20] viperperidot opened #142 "Change summary not showing correct color"
In the latest update the Change summary at the top of ticker displays in Green font when the Change is a negative number (should be red).

[2021-03-07 03:52] achannarasappa commented on #142
Good catch! This bug apparently has been around for a while but I've just put out a new release which should address it. Let me know if it still around

[2021-03-07 03:52] #142 closed

[2021-03-07 21:00] dtcooper opened #143 "Quantity showing up screwy"
**Describe the bug**

As pictured below, the quantity is showing up screwy for large amounts for symbol `EB`.

**To Reproduce**
Set this in `lots` in `~/.ticker.yaml`,

[code]

**Expected behavior**
Quantity shows up as `38;5;27m2274000.00` instead of `100000`

**Screenshots**
![Screenshot of bug](https://user-images.githubusercontent.com/873944/110254595-d2305100-7f5d-11eb-9618-636f04c01a20.png)

[2021-03-08 13:59] drzhouq opened #144 "Adding extra column to show a user data for the ticker"
If user has a local database with some interesting data associated with a ticker, it would be nice to the app can be configured to pull data and display that along with current quote price.

Use case, user calculated "fair market price" for the stocks and would like to display that with current stock price.

[2021-03-08 16:54] gabrielpres opened #145 "Holdings formatting wrong when holding >9999"
**Describe the bug**
When "show-holdings: true" in .ticker.yaml, if holdings are >9999 units the formatting and output is wrong (any number > 9999 comes out as "38;5;188m" and also affects the alignment of other fields in the same line

**To Reproduce**
Steps to reproduce the behavior:
1. Show-holdings: true
3. Put Quantity >9999 for a stock (This might be a common case for "penny stocks")
4. See

[2021-03-08 17:37] achannarasappa commented on #145
Thanks for reporting this. I'll put out a fix later today

[2021-03-08 21:47] dtcooper commented on #145
Dupe of https://github.com/achannarasappa/ticker/issues/143

[2021-03-08 23:04] achannarasappa commented on #143
Fixed in latest release - added 3 additional digits of space

[2021-03-08 23:04] #143 closed

[2021-03-08 23:04] achannarasappa commented on #145
Fixed in latest release - added 3 additional digits of space

[2021-03-08 23:04] #145 closed

[2021-03-09 01:41] viperperidot opened #147 "Panic when maximizing window"
When I start ticker and then maximize the window I get this panic:

[code]

[2021-03-09 02:10] achannarasappa commented on #49
This issue is stale because it has been open 30 days with no activity. Remove stale label or comment or this will be closed in 7 days.

[2021-03-10 01:06] achannarasappa commented on #147
It might be caused by the width of each cell being negative for some reason during a window resize event. I added handling for this - have a look at the latest version and let me know if that fixed it.

[2021-03-10 01:23] viperperidot commented on #147
Unfortunately this update did not fix it..

[2021-03-10 02:03] achannarasappa commented on #147
Any chance you'd be open to trying it in a VM? This would help isolate the issue. If the issue occurs in the VM that great then I can try replicating it on my end with the same setup. If not then it's possible it's a hardware issue of some kind.

Since I can not replicate the issue, it's any fix I attempt would be a shot in a dark.

[2021-03-10 02:06] viperperidot commented on #147
I am not using a VM, but I can say that it was introduced in the previous version, I have been able to resize the window successfully prior to this.

[2021-03-10 02:13] achannarasappa commented on #147
Would you be open to sharing your OS + version and terminal + version?

[2021-03-10 03:21] viperperidot commented on #147
Ubuntu 20.04.2 LTS

GNOME Terminal 3.36.2

[2021-03-10 07:35] xomtux commented on #49
Personally I would still be interested in this feature. But if there is no general interest from other users I can also close the issue and/or create an entry in the Discussion area with an Idea label for future improvement.

[2021-03-10 16:14] MisterCubanSandwich commented on #147
I'm seeing similar behavior in macOS 10.15.7, zsh 5.7.1. If I try to launch ticker at my default size of 120x40, it throws that out of range error, but if I resize my terminal so it's not so wide it works correctly.

120 columns seems to be the threshold where it's broken for me.

[2021-03-10 16:39] achannarasappa commented on #147
@MisterCubanSandwich do you are saying if the terminal window exceeds 120 columns the error is thrown? @viperperidot does resizing below 120 also work okay for you?

[2021-03-10 16:41] MisterCubanSandwich commented on #147
Correct, it immediately crashes if launched or resized to wider than 120. I can resize it just fine if I keep it narrower than that.

[2021-03-10 18:00] achannarasappa commented on #147
@MisterCubanSandwich would you mind sharing the error message? It would be helpful to understand if it is the exact same issue or a variant

[2021-03-10 18:01] viperperidot commented on #147
@achannarasappa I just tested my threshold and for me I get the error kicking in at 105 column width.

[2021-03-11 00:22] achannarasappa commented on #147
Thanks @viperperidot and @MisterCubanSandwich this info is really helpful. I'll take a shot at replicating the error

[2021-03-11 08:56] secf00tprint opened #148 "Support for plug :home in snap interface configuration"
**Problem Statement**
Currently using ticker with snap has problems opening a configuration file presumably because of the sandboxed environment:
![grafik](https://user-images.githubusercontent.com/1818452/110770242-639f0c00-8259-11eb-850b-66c7189edfa4.png)

I used a non-hidden file because [https://snapcraft.io/docs/home-interface](https://snapcraft.io/docs/home-interface) states

The current beh

[2021-03-11 11:35] nikcorg opened #149 "Feature request: Override config file watchlist from command line"
**Problem Statement**
In my `.ticker.yaml` I have my portfolio and other long-term interest stocks configured. Sometimes I would just like to ad-hoc follow one or a few stocks on their own.

**Proposed Solution**
Give command line configuration higher precedence than that in a config file, or add a flag to ignore the config file.

**Alternatives**
Using a second config file is an option that is a

[2021-03-12 02:12] achannarasappa commented on #7
This issue was closed because it has been stalled for 7 days with no activity.

[2021-03-12 02:12] #7 closed

[2021-03-12 19:08] randomprey opened #150 "Feature Request: flag to disable the bottom bar"
I use i3 and open ticker up as a floating window. Sometimes when total value goes to three digits it will cause the status bar on the bottom to duplicate and show twice.

Add startup/config flag to disable the bottom bar
--status=off/on
status: off/on

Thanks for the cool terminal app!

[2021-03-13 02:11] achannarasappa commented on #89
This issue is stale because it has been open 30 days with no activity. Remove stale label or comment or this will be closed in 7 days.

[2021-03-13 17:21] achannarasappa commented on #147
Thanks for the details @viperperidot and @MisterCubanSandwich. I've put out a fix in release v4.0.4 that I believe address the issue. The root cause was that the width of the fixed width cells sometimes exceeded with width of the row which cause the error both of you observed. I've added better handling for this condition now and hopefully it will work as expected. When you have a chance take a lo

[2021-03-13 17:22] achannarasappa commented on #140
Is there any error message that is printed when this happens?

[2021-03-13 17:32] achannarasappa commented on #149
Thanks for the suggestion - would you be able to elaborate on how this would differ from the `-w` option which overrides the config watchlist? From your description of the proposed solution, this functionality already exists but it's possible I am not understanding your suggestion.

[2021-03-13 17:33] achannarasappa commented on #150
Thanks for raising this issue

The duplicate bottom bar seems like a bug to me and thus the solution should be a fix for the duplication rather than an option to disable the bar entirely.

[2021-03-13 18:12] achannarasappa commented on #148
Thanks for reporting this issue. I've put out a new release which I believe addresses this. as you stated, you will need to use a non-dot-prefixed file and use the `--config` option to explicitly set the config file location for this to work.

I'll close this issue but do reopen if it still occurs.

[2021-03-13 18:12] #148 closed

[2021-03-13 18:14] achannarasappa commented on #136
This was fixed in the latest release. See #148 which mentions the same issue.

[2021-03-13 18:14] #136 closed

[2021-03-13 20:28] randomprey commented on #150
Can it be both? I like control over what's displayed on my terminals.

On Sat, Mar 13, 2021, 12:33 PM Ani Channarasappa ***@***.***>
wrote:

[2021-03-14 13:15] achannarasappa commented on #49
Thank you for the suggestion

I can see the value this can bring to folks who need it. I think it would be a good expansion of ticker's functionality but don't believe it to be close enough to the core functionality to personally prioritize building it. A PR adding this would be welcome but I will move this to discussion section for now

[2021-03-14 13:15] #49 closed

[2021-03-14 15:09] achannarasappa commented on #147
Good news is I can now replicate the bug, bad news news it that the bug is not fixed :)

It seems to occur on window resize frequently enough to be annoying but not on every resize. I'll keep at a fix

[2021-03-14 15:32] ngocphamm commented on #90
Not resovled yet.

[2021-03-14 20:22] spsx commented on #147
I was about to report this bug (got ticker today) and it looks like you just patched this 20 minutes ago in ac6e26d2be6a4cc47cf1a18c371bfa7360f3fa63 :+1: . Picked up the latest master from git and it's now resizing properly with no crashes on my end.

[2021-03-14 20:42] achannarasappa commented on #147
Thanks for the comment @spsx ! I'll close this issue but do reopen if the issue still resurfaces

[2021-03-14 20:42] #147 closed

[2021-03-14 20:53] achannarasappa commented on #150
I've fixed the duplicate bottom bar bug in the latest release.

I completely understand that you'd want to customize your terminal experience and if you'd like to remove the bottom bar I'd suggest creating a fork and removing it there (have a look in `ui.go` at the footer function). I don't think the bottom bar should be optional in the mainline version.

[2021-03-14 20:53] #150 closed

[2021-03-14 23:05] spsx opened #152 "Feature request: Provide "sell" option for lots to calculate average cost"
**Problem Statement**
Is your feature request related to a problem? Please describe.

If I sell part of a stock being tracked on Ticker (with multiple lots for the same symbol), I want Ticker to be able to recompute the average cost automatically. Right now I have to perform the calculation by hand and then input the adjusted unit cost and quantity.

**Proposed Solution**
A clear and concise descr

[2021-03-15 02:08] achannarasappa commented on #152
Thanks for the suggestion however I don't think it should be possible to represent sales in the config. The reason is that the current cost basis lots are intended represent your account at the current moment in time without any knowledge of it's previous state. Introducing the ability to represent sales or purchases means that the config would be able to represent previous states however there is

[2021-03-15 02:08] #152 closed

[2021-03-15 03:49] realchrislovett opened #153 "Previous Close and Open values for ^DJI & YM=F, ^IXIC & NQ=F"
Previous close and Open values for Dow Jones Industrial Average (^DJI & YM=F) as well as NASDAQ (^IXIC & NQ=F) does not display correctly.

ticker.yaml configuration is as follows

[code]

<img width="1680" alt="Screen Shot 2021-03-14 at 11 47 19 PM" src="https://user-images.githubusercontent.com/57230137/111101124-a09c2480-851f-11eb-9138-4853b502917a.png">

[2021-03-15 10:01] nikcorg commented on #149
@achannarasappa apologies if I was unclear. I was hoping that it would omit any configured stocks and exclusively display the stocks on the provided watchlist.

Currently, I can as you say override the watchlist, but any holdings will still also be displayed. I've tried including `--show-holdings=false`, but the list is still displayed.

[2021-03-16 19:07] awgolas opened #154 "Change formatting glyphs"
I've been looking for an option to an option to manually change the formatting glyphs, but I can't find one. The horizontal separator works fine, but there's some characters which don't render and I can't figure out where they're set in the source code.
![image](https://user-images.githubusercontent.com/43121733/111365490-eadced00-8668-11eb-9128-b8def531c9f2.png)

An ability to change or remove th

[2021-03-17 17:15] randlet commented on #136
Thanks!

[2021-03-18 05:59] danaspiegel commented on #126
First, thanks for the effort in putting in configurable colors. It definitely works (mostly), and generally solves the reason why I originally opened this issue originally.

I believe, however, that there is a bug or two in the use of the colors (or parsing of the colors.

I tried this color scheme:

[code]

and while it mostly works, the `text-tag`, `text-line` and possibly another of the colors

[2021-03-18 06:01] danaspiegel commented on #126
(also, I can't reopen the issue. LMK if you want me to open a new one or if you can re-open)

[2021-03-18 15:07] freznicek opened #155 "Support for non-US stock tickers"
**Problem Statement**
At the moment app does not support some European stock tickers, for instance [SXR8](https://www.morningstar.co.uk/uk/etf/snapshot/snapshot.aspx?id=0P0000OO21) or [IUIT](https://www.morningstar.co.uk/uk/etf/snapshot/snapshot.aspx?id=0P000171ZT)

**Proposed Solution**
Add support for European stocks (at least London stock exchange and EU Xetra).

**Use Cases**
Smart investors d

[2021-03-18 21:44] achannarasappa commented on #155
European stocks are supported: `ticker -w SXR8.DE,IUIT.L`

[2021-03-18 21:44] #155 closed

[2021-03-21 02:11] #96 closed

[2021-03-21 02:11] #28 closed

[2021-03-21 22:51] samipenitaai commented on #28
Hi, I'm interested in learning how to code a trading bot, any direction of help would be awesome,🤙🏾🤙🏾🙏🏾ty

[2021-03-23 05:05] 097115 commented on #149
I second @nikcorg, would be great to be able to launch `ticker` **without the current portfolio**, and neither placing `show-holdings: false` in the configuration file, nor setting it to false at the command line don't seem to work.

[2021-03-23 11:09] achannarasappa commented on #149
Thanks for the input and details - it seems like the `--show-holdings=false` is certainly a bug. I'll have a closer look at this one.

As a workaround, removing the `show-holdings` flag from config entirely _should_ address the issue but I agree a permanent fix is needed since the current behavior is unintuitive.

[2021-03-23 11:17] 097115 commented on #149
You sure? I'm probably missing something but my config is something like this:

    show-tags: false
    show-fundamentals: true
    show-separator: true
    sort: "user"
    currency: USD
    interval: 10
    watchlist:
      - ....
    lots:
      - ....

And then I just launch `ticker` with no additional flags -- and no, my holdings are still shown? :)

[2021-03-23 13:38] achannarasappa commented on #154
Thanks for the suggestion

The glyphs are something that I feel are core the application and function to express things such as market state and direction of change. For that reason, I don't think glyphs could be made optional.

That being said, I understand that you would not want to change your font for one application. If you're open to it, I'd suggest maintaining a fork wherein the glyphs have

[2021-03-23 13:38] #154 closed

[2021-03-24 02:16] #102 closed

[2021-03-25 00:04] achannarasappa commented on #149
@097115 definitely a bug then :)

Thank you both for reporting this and providing details

[2021-03-26 01:46] #115 closed

[2021-03-26 01:46] #65 closed

[2021-03-26 15:21] ferenczy opened #156 "Feature request: Format numbers (thousands separator)"
**Problem Statement**
Numbers bigger than ones of thousands are quite hard to read in the terminal, it would be good to format them using a thousand separator character.

**Proposed Solution**
Delimit thousands in all numbers which are more or equal to one thousand using a separator character (usually space or a comma is used), i.e. numbers will be grouped by 3 digits.

Current formatting: `123456

[2021-04-01 09:25] RowanFeely opened #157 "Text/bg color change on price update"
Sometimes it can be hard to catch changes in values, which can be useful at times (ie. seeing constant updates in price potentially reflecting larger volumes selling/buying; yes i know its almost impossible to tell that from frequency of price change, but sometimes slow or non volatile stock being bought/value changing can be picked up aesthetically)

Would it be at all feasible or desired by othe

[2021-04-04 03:44] achannarasappa commented on #157
Thank you for the suggestion and the detailed examples to illustrate the concept!

I like the idea and I agree it would improve the user experience for the reasons you stated.

I'll need to put some more thought into when and how to indicate a a meaningful price change so as to not create too much noise. The change magnitude based visual indicator of tradingview's approach might be worth exploring

[2021-04-04 06:58] metalsp0rk opened #158 "Tags not showing on last entry."
**Describe the bug**
Tags are not showing for the last entry in ticker, when scrolling is applicable.

**To Reproduce**
Steps to reproduce the behavior:
1. launch with --show-tags
3. Scroll to the bottom
4. Observe that the last entry does not show the tags.

**Expected behavior**
The interface will allow you to scroll down to the very bottom.

**Screenshots**
![image](https://user-images.githubus

[2021-04-04 16:22] sergeevabc commented on #158
@metalsp0rk, you’re lucky, in my case `ticker.exe --show-tags` displays a black screen with clock ticking, that’s all.

[2021-04-05 01:00] metalsp0rk commented on #158
oh wow, I'm not sure what's going on there.  You're on windows, I assume.  I don't have access to a windows system to verify your error, so I'm not sure how much I'll be able to do about this.

However, are you using cmd or powershell to get this result?  I'll see if I can get a coworker to confirm this.

[2021-04-05 01:48] bigfoot90 opened #159 "Permission denied loading ticker.yaml"
**Describe the bug**
I'm using snap package, I've created the configuration file manually and running by `ticker --config $HOME/ticker.yaml` as explained by README.md.
But I'm ending with error `Invalid config: open .ticker.yaml: permission denied`

**To Reproduce**
Steps to reproduce the behavior:
1. `sudo snap install ticker`
3. `nano ~/ticker.yaml`
4. `ticker --config $HOME/ticker.yaml`

**Expe

[2021-04-05 18:27] tmack8080 commented on #159
I had the same problem. The issue is the snap installer. I think there is
an open bug report for this. I ended up using the Windows version but you
can try to install it manually.

On Sun, Apr 4, 2021 at 9:48 PM bigfoot90 ***@***.***> wrote:

[2021-04-05 22:16] achannarasappa commented on #158
Thanks for reporting this @sergeevabc ! Looks this bug has re-emerged in a recent release.

Would very much appreciate a PR if you end up having time to take a look but if not I'll take a look at fixing it myself at some point.

[2021-04-05 22:23] sergeevabc commented on #158
@achannarasappa, my profile says “bugs hunter”, while PR requires developer skills and tools. I’ll wait and verify when it’s ready.

[2021-04-05 22:27] achannarasappa commented on #158
Meant to tag the author in this case @metalsp0rk :)

In any case thank you both for your input and details on the issue

[2021-04-05 23:46] achannarasappa commented on #153
Thanks for reporting this. The bug has been fixed in the latest release - have a look and let me know if it still occurs for you

[2021-04-05 23:46] #153 closed

[2021-04-05 23:52] achannarasappa commented on #116
Thanks for the details @freznicek . I can see how this would help properly represent the total cost of purchase. I'll schedule it for a future release.

[2021-04-06 06:07] 097115 opened #160 "Swap Quantity and Avg. Cost lines?"
**Problem Statement**

First of all, a screenshot:
https://i.imgur.com/Gg8bYQD.png

As you see, of the two lines informational row for a ticker, `Avg. Cost` for holdings shows on the second line, while the current price on the first one. And both represent one kind of information, the **price** :)

**Proposed Solution**
Taking aforesaid into consideration, wouldn't it be more logical to swap `Quan

[2021-04-06 06:21] 097115 commented on #149
@achannarasappa

I saw you added  this fix, b645616, *"do not show position when flag is not set"*, which potentially could allow to use a workaround described above, to exclude holdings by removing the `show-holdings` flag while viewing tickers not from the configuration file.

However, as you are probably aware, it doesn't completely solves it:
  - if I do not set `show-holdings` flag neither in

[2021-04-06 16:44] achannarasappa commented on #149
I did in fact forget about this bug so I appreciate the reminder :)

I've just put out a new release that addresses this problem. Let me know if you're still seeing the issue and I'll have a second look - in the meantime I'll close this issue.

[2021-04-06 16:44] #149 closed

[2021-04-06 16:49] achannarasappa commented on #160
Thank you for the suggestion - I agree it's easier to understand pricing information in a single line.

I've pushed a commit for the change and it will be available in the next release. I'll leave the issue open until then.

[2021-04-07 01:54] #63 closed

[2021-04-07 17:48] hexadecimalDinosaur opened #161 "Formatting Errors"
**Describe the bug**
Update to v4.1.0 and v4.1.1 broke the formatting on Bitcoin entry

**Expected behavior**
Bitcoin should be formatted neatly like the other items and not showing the escape codes

**Screenshots**
![image](https://user-images.githubusercontent.com/36890802/113910787-3c2f5680-97a7-11eb-89b2-aae60e97332b.png)

![image](https://user-images.githubusercontent.com/36890802/113911723-4

[2021-04-08 15:49] mozgbrasil opened #162 "About the stock price for the Brazilian stock exchange (BVMF)"
**Problem Statement**

Hello my friend good morning

I would like to inform you that the stock price for the stock exchange in Brazil  (BVMF) is not working

	ticker -w PEAB3,PEAB4

**Proposed Solution**

**Alternatives**

**Use Cases**

**Additional context**

[2021-04-08 15:58] achannarasappa commented on #162
Hey @mozgbrasil, in this case, the symbols for these companies differ slightly that what you might expect. Give this a shot:

[code]

I was able to find these symbols by finding the companies on the Yahoo Finance site and locating their corresponding symbols.

[2021-04-08 15:58] #162 closed

[2021-04-09 22:14] dahjin opened #163 "Garlicoin drawing from yahoofinance instead of coinmarket cap resulting in zerod out results?"
**Describe the bug**
Attempting to add garlicoin to the ticker results in this
![rsYUFx1 1](https://user-images.githubusercontent.com/8744819/114245893-5744c680-995f-11eb-85f1-a8d94e77c34f.png)
Is there a way to specify to draw from coinmarketcap instead of yahoo finance?

**Environment (please complete the following information):**
 - OS: windows
 - Terminal: Windows Terminal
 - Terminal Version:

[2021-04-13 05:33] gaming-hacker opened #164 "options calculator, optimization"
**Problem Statement**
Is your feature request related to a problem? No
calculate and track options

**Use Cases**
A clear and concise description of any alternative solutions or features you've considered.
https://optionstrat.com/optimize
https://optionsfambot.com/

[2021-04-13 10:20] emulti opened #165 "Alternative 40-column view for portrait screens"
Perhaps you could consider adding a runtime option to format the output for tall, narrow screens (40 columns instead of 80). This would allow the program to be used on phones, tablets and other devices with portrait mode as the default use case.

Each data record would then be double the existing height, with the price data on the first lines, and supplementary data such as high/low, position valu

[2021-04-13 13:18] Aqualie commented on #99
This would be a nice feature to have in the config we could possibly add a new option for each ticker to define the association to various groups, if this configuration is missing then they would be grouped under a "Default" group section.
[code]

In the UI I think the tab idea would look the best given the current UI layout to represent the groups.

[2021-04-14 19:18] metalsp0rk commented on #158
I haven't yet had time to look into it, if anyone else wants to take lead on this, I'm fine with that.  Otherwise, I'll take a look when I get some time.

[2021-04-15 01:25] achannarasappa commented on #165
Thanks for this suggestion and details on your use case - I certainly had not considered phones and screens with that sort of aspect ratio in the design.

I'd be open to collaborating on a design if you'd be interesting to opening a PR.

[2021-04-15 11:33] emulti commented on #165
I'm not a Go programmer so can't offer a PR, but this attachment mocked-up in a spreadsheet gives some idea what I mean. I have used the data from the first stock in your ticker-all-options.png as a source and tried to group price data logically.
The Range and Prev Close/Open lines would only appear if the command-line option for them was included.
Avg. cost and the portfolio positions would only

[2021-04-15 14:58] boreq commented on #40
I agree this is highly unusual and confusing. It took me a long while to find the config file. Additionally the file should be placed in a separate directory `ticker` within `$XDG_CONFIG_HOME`. If the standard isn't followed then maybe it is better not to try to follow it at all.

[2021-04-16 01:53] #144 closed

[2021-04-21 01:53] #140 closed

[2021-04-22 21:15] dtcooper commented on #89
Anyway workaround for cash held in the meantime? The symbol `USD-USD` doesn't work.

[2021-04-27 01:18] ferenczy commented on #156
I'm just adding this comment to prevent the closing of this issue because there was no reply in 30 days.

[2021-04-30 20:29] philobbe opened #169 "install error on raspberry 3"
**Describe the bug**
Does not run on Raspberry Pi 3
**To Reproduce**
Steps to reproduce the behavior:
1. Run 'docker pull achannarasappa/ticker:3.0.7-arm64v8'
2. See error

**Expected behavior**
Should run properly

**Environment (please complete the following information):**
 - Raspberry 3

**Additional context**
`docker pull achannarasappa/ticker:3.0.7-arm64v8
3.0.7-arm64v8: Pulling from achanna

[2021-05-10 13:51] DonZheng opened #170 "Seeking Guidance: not showing color"
Environment: inatall on Ubuntu 20.10 from AWS Lightsail. Access via putty from windows 10.

ticker installed as per README and .ticker.yaml copied/pasted for testing.

Everything runs find except that no colors are being applied (showing black background with white fonts only).

New to Ubuntu and ticker. Any guidance/advice is much appreciated.

![image](https://user-images.githubusercontent.com/4

[2021-05-10 18:36] DonZheng commented on #170
Dear @achannarasappa ,

Thanks HEAPS for your timely reply! Really appreciate it!

By following the link your shared, I can see the ticker showing colors now.

![image](https://user-images.githubusercontent.com/40833875/117707900-7c547f80-b212-11eb-826b-cc93d1c246a6.png)

Best Wishes

[2021-05-14 01:58] #160 closed

[2021-05-14 23:52] achannarasappa commented on #170
Glad to hear you got it working!

[2021-05-14 23:52] #170 closed

[2021-05-17 01:58] #163 closed

[2021-05-18 06:56] GETandSELECT opened #171 "add "Gold Price per Gram""
Hey

thank you very much for this awesome software.

I wish to track metals (physical).

Is that possible?

🙏

[2021-05-22 01:57] #164 closed

[2021-05-23 02:02] #165 closed

[2021-05-25 10:52] Austinsuyoyo opened #174 "proxy argument failed but it's work when set environment"
**Describe the bug**
as title

**To Reproduce**
Run `docker run -it --rm achannarasappa/ticker -w 2353.TW --proxy 'http://host.docker.internal:3128'`
![image](https://user-images.githubusercontent.com/15572804/119628485-ba22ec00-be3f-11eb-89c8-0f90984bf33d.png)

**Expected behavior**
`docker run -it --rm -e 'http_proxy=http://host.docker.internal:3128' achannarasappa/ticker -w 2353.TW`
But when I

[2021-05-25 23:21] achannarasappa commented on #171
Anything on Yahoo Finance is supported. `XAUUSD=X` might be what you're looking for.

Hope that helps

[2021-05-25 23:21] #171 closed

[2021-05-31 23:03] achannarasappa commented on #159
I've attempt to replicate the issue with the latest version of ticker and can't seem to do so. I'll close this issue for now but let me know if you're still experiencing the issue and I'll reopen.

![image](https://user-images.githubusercontent.com/1489983/120247759-9ba76100-c242-11eb-90fb-b1c9b4a80cb0.png)
![image](https://user-images.githubusercontent.com/1489983/120247798-c1cd0100-c242-11eb-896

[2021-05-31 23:03] #159 closed

[2021-06-01 00:09] achannarasappa commented on #126
Thanks for feedback and raising the issue with the colors not working. I've tested it and it does seem to be working on my end:
![image](https://user-images.githubusercontent.com/1489983/120250052-cac1d080-c24a-11eb-9f76-e94b4ea03b5e.png)

The color library used supports truecolor but if the terminal does not, it will down sample to the closest color support by the terminal. It is possible that co

[2021-06-01 00:09] #126 closed

[2021-06-01 00:22] achannarasappa commented on #131
Added in the latest release

[2021-06-01 00:22] #131 closed

[2021-06-01 00:22] achannarasappa commented on #116
Added in the latest release

[2021-06-01 00:22] #116 closed

[2021-06-01 00:23] achannarasappa commented on #109
Added in the latest release

[2021-06-01 00:23] #109 closed

[2021-06-01 00:23] achannarasappa commented on #111
Added in the latest release

[2021-06-01 00:23] #111 closed

[2021-06-01 03:45] achannarasappa commented on #60
This should be resolved in the latest version. Let me know if the issue persists and I'll reopen the issue

[2021-06-04 16:01] jordanmclain opened #179 "Fomatting issues while refreshing"
**Describe the bug**
While prices and stats are updating (refresh intervals), pieces of information disappear and reappear (ticker, price, delta).  Over time the separators disappear completely.

**To Reproduce**
Happens every time I run the program regardless of window size or options.

**Expected behavior**
Information should stay on the screen during refresh intervals.

**Screenshots**
![Screen

[2021-06-07 15:34] chrisbgp opened #180 "add option to print current portfolio value on the cli"
It would be useful to just print the current portfolio value to use that information for historical information or to plot the value on a graph. cheers!

[2021-06-18 07:41] pflodo commented on #99
I love feature requests - costs nothing to wish :-)
1. Change tabs, would naturally use the left and right arrows - but you already use bubbletea - which has mouse support, which I think would be good if you went down tabs route
2. Auto cycling of tabs would also be good on a timer
3. for rendering tabs - The bubbletea authors also make https://github.com/charmbracelet/lipgloss

![Screenshot from

[2021-06-22 10:42] erikstorli commented on #179
Yes, I'm having the same problem. Reverted to 4.1.1, and that works fine 👍

[2021-06-28 11:21] jdqw210 opened #183 "HTTP request connection refused"
Get "https://query1.finance.yahoo.com/v7/finance/quote?lang=en-US&region=US&corsDomain=finance.yahoo.com&fields=regularMarketPrice,currency&symbols=AAPL": dial tcp: lookup query1.finance.yahoo.com on 192.168.1.99:53: read udp 192.168.1.99:58769->192.168.1.99:53: read: connection refused

Was working fine on Friday, now I receive this error.

Can replicate error by running tickers on the CLI

[2021-06-28 11:53] jdqw210 commented on #183
I can WGET the request string and Yahoo returns the json data just fine

[2021-06-28 22:31] achannarasappa commented on #183
This looks like a local DNS issue of some kind since the error is saying that it can't reach a local network DNS server at 192.168.1.99. It's not clear to me what the specific issue is given a `wget` works okay.

[2021-07-02 18:40] ngocphamm opened #184 "Color displayed differently with and without tmux"
**Describe the bug**
I really don't know if this is a bug, and I think it's not likely. I just noticed some small differences in colors when using `ticker` inside tmux, and I'm not sure what's supposed to be the "correct" one.

**To Reproduce**
Steps to reproduce the behavior:
1. Start `ticker` in an iTerm2 session
2. Start `ticker` in another iTerm2 session, with tmux
3. See differences

**Screen

[2021-07-05 14:34] jdqw210 commented on #183
Indeed there was a problem with dnsmasq, thank you for the help

[2021-07-05 14:34] #183 closed

[2021-07-14 05:55] andreblanke commented on #179
The bug appears to have been introduced in 4406ae9 with the upgrade of Bubble Tea from 12.2 to 13.4, as downgrading it again fixes the issue for me

[2021-07-18 18:54] jakubreron commented on #180
Yess, it would be super useful

[2021-07-27 18:33] faustinoribeiro opened #185 "Document how to map to host .ticker.yaml file when using docker image"
I might have missed something in the documentation or used the docker image incorrectly, but I could not get my config to load when running the docker image.

The only way I got it to work is by running:
docker run -it --rm -v ~/.ticker.yaml:/.ticker.yaml achannarasappa/ticker
with in my case .ticker.yaml being at the root of my home folder.

Again, it might be an error on my side, but the way on

[2021-08-10 01:48] #174 closed

[2021-08-14 15:58] achannarasappa commented on #184
Thanks for taking the time to report this in so much detail.

It looks like the issue in your case if that `$TERM` is set to `screen-256color` which will have ticker fallback to ANSI256 colors.  The logic for this fallback is defined in a dependency of ticker [here](https://github.com/muesli/termenv/blob/1d2849bf91209e37a109120228777b3fa37fd8ff/termenv_unix.go#L14) if you're interested in having a

[2021-08-14 15:58] #184 closed

[2021-08-14 16:03] achannarasappa commented on #185
Thanks for suggesting this. I can see how it's not obvious how to do this from the readme as is. I've updated it to include when you mentioned.

[2021-08-14 16:03] #185 closed

[2021-08-15 01:46] #156 closed

[2021-08-17 22:55] MostHated commented on #180
I was about to make a post about this. I use Conky to display PC stats, and I wrote a script that uses cointop to query every 10-15 seconds to get the current price and the value of my holdings and I am able to store them to a variable and then awk it out of the output for use in Conky. I tried to do the same thing with this right off the bat, but unfortunately, it just runs the app, tying up the

[2021-08-17 23:03] achannarasappa commented on #180
Thanks for the input everyone and for articulating that use case @MostHated . Based off this suggestion and others, I can see there's a decent enough amount of interest in this feature so I'll add it to the roadmap.

[2021-08-19 22:59] afpena opened #190 "Unable to configure EXR correctly"
I'm using version 4.2.1 on Ubuntu 20.04 and it seems that currencies are not being displayed properly. I've tried configuring USDBRL=X, EURBRL=X, BRL=X, and none of them are displaying the right values. Find my config file as follows:

show-summary: true

show-tags: true

show-fundamentals: true

show-separator: true

show-holdings: true

interval: 5

currency: USD

currency-summary-only: false

w

[2021-09-11 00:19] ezeklusman commented on #60
Hi, using it on OSX I get the flickering on updates.
Wasn't happening before, it started after formatting and reinstalling ticker.
Any data I can provide to help?

[2021-09-15 13:34] MarcoLucidi01 commented on #158
hello, I'm a big fan of `ticker`, I use it daily to track my positions. I saw this "good first issue" and decided to help :)

---

what I found out is basically that when the content doesn't fit on a single page, [`github.com/charmbracelet/bubbles/viewport`][1] doesn't render the last line of content **if** it doesn't end with a new line `\n` character (`bubbles/viewport` is used in `ticker`'s `ui

[2021-09-16 00:49] achannarasappa commented on #158
Thanks for doing that analysis and finding the likely source of the issue @MarcoLucidi01!

It sounds like the ideal place to make the fix would be `bubbles/viewport` and I'd suggest starting there. I'm eager to get this bug resolved as it's sitting unresolved for a while now and glad you were able to provide a lot more clarity on the problem.

[2021-09-19 19:55] ezeklusman commented on #60
@achannarasappa can this issue be reopened?

[2021-09-20 12:54] MarcoLucidi01 commented on #158
quick update: the bug has been fixed in `bubbles/viewport`'s `master` and will be available in the next `bubbles` release:

https://github.com/charmbracelet/bubbles/pull/74
https://github.com/charmbracelet/bubbles/issues/73#issuecomment-922062551

[2021-09-26 19:04] ytbor11 opened #196 "Historical Data"
Awesome program, BTW. Thanks for working on it and  making it available. I recently started something similar in Java. But, yours is comprehensive and the output/display looks much nicer.

A couple of thoughts/feature requests:
- having the ability to track a portfolio's performance over a given time period (#days in the past). For example, Lets say I have a portfolio with 100 units of VTSAX and 5

[2021-10-03 17:26] achannarasappa commented on #196
Thanks for the positive feedback and suggestions!

This is an interesting idea and would be useful to include in a broader dashboard or summary page. With the current summary view, it may end up being a bit crowded. I'd be interested to see if there's wider community interest in this. In the meantime, #99 could make it a bit easier to track multiple historical cost bases as separate group but it w

[2021-10-09 02:06] xwjdsh commented on #99
@Aqualie I like your idea, but that change will bring breaking changes. How do you think of this way, symbol and groups are separated by colons.
[code]

[2021-10-14 16:25] ajgringo619 opened #198 "Force x number of decimal places in prices"
**Problem Statement**
Some of my crypto assets have extremely low values per token. I would like to be able to see the full value of these tokens, but 4 decimal places is not enough.

**Proposed Solution**
Allow users to specify the number of decimal places to show, maybe on a graduated scale (no need to show 8 decimal places for Bitcoin, for example).

[2021-10-27 15:27] shaunmolloy opened #199 "Quote price lag"
I have ALPP in my watch list, and I've noticed that the price is off
but the tag on the stock remains as `Real-Time`.

<img width=300 src=https://user-images.githubusercontent.com/8168925/139096188-2a33c000-e78c-4a75-8684-34b50fb89325.png>

~~I checked this against [Yahoo finance](https://query1.finance.yahoo.com/v7/finance/quote?lang=en-US&region=US&corsDomain=finance.yahoo.com&fields=regularMark

[2021-11-01 13:54] shaunmolloy commented on #199
I logged data over the course of Thursday afternoon, to Friday evening,
to get a full picture of data from pre market, market open and post market,
to look at delays and price variations.

Here's a spreadsheet of the data:
https://docs.google.com/spreadsheets/d/12tZ7o_UcVndXhRk2DZYleuobd2HpNYWa0-LWfZq2Avs/edit?usp=sharing

Logged data for the following stock and crypto assets across a few differen

[2021-11-03 01:47] #190 closed

[2021-11-21 17:09] zachary opened #202 "Timeout from finance.yahoo.com"
Get "https://query1.finance.yahoo.com/v7/finance/quote?lang=en-US&region=US&corsDomain=finance.yahoo.com&fields=regularMarketPrice,currency&symbols=": dial tcp: lookup query1.finance.yahoo.com on 172.30.208.1:53: read udp 172.17.0.2:58520->172.30.208.1:53: i/o timeout

Could you please help to check this above?
Thanks

[2021-11-22 20:06] uxjulia commented on #60
I'm also experiencing flickering on updates. I'm using iTerm2 on OSX

[2021-12-04 01:47] #158 closed

[2021-12-06 09:01] wavenator opened #204 "Adding thousands separators"
The current version shows longs numbers in a non human readable notation where long numbers are presented without thousands separators.
[code]
vs
[code]

A quick solution and easy solution is available - just format the printed numbers with an available library of your choice.

[2021-12-13 22:46] rinpoche opened #205 "Tracking options"
**Problem Statement**
It would be great is this fantastic tool can also track option positions.

**Proposed Solution**
Just like we furnish stock/crypto position symbols, we can add individual option symbols like **AAPL220121C180**, and get the current price of that position as well.

[2021-12-17 01:50] #196 closed

[2021-12-19 11:27] achannarasappa commented on #205
Thanks for the suggestion! This is something I've been thinking about adding for while now. I'll put some thought into the data source(s) and implementation and add this to the roadmap

[2021-12-19 11:28] achannarasappa commented on #202
Could you try issuing a cURL request directly to that url? More often than not these issues are proxy / VPN / user network related

[2021-12-19 11:32] achannarasappa commented on #199
That's really helpful - thanks for compiling that information! I'll add this one to be fixed a future release

[2021-12-19 20:30] achannarasappa commented on #99
This has been added in v4.40 see https://github.com/achannarasappa/ticker#groups

[2021-12-19 20:30] #99 closed

[2021-12-19 22:12] baschdello opened #206 "Bug: last group of yml config file is not displayed"
**Describe the bug**
The last group of groupsection from yml file is not displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. I created 2 groups at yml config file, each with watchlist and holdings
2. if starting ticker with this yml config file and try to tab through groups, only the default group and first group listed in yml file is displayed
3. if I duplicate the last group in yml

[2021-12-19 22:24] achannarasappa commented on #206
Thanks for reporting this. I've fixed this in the latest release v4.4.2

Let me know if you are still experiencing the issue

[2021-12-20 02:31] herbygillot opened #207 "4.4.1 - panic on startup"
**Describe the bug**
Starting Ticker v4.4.1 for the first time seems to cause a panic?

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Build ticker 4.4.1 in a fresh environment, no pre-existing config or anything
3. Run it.
4. See panic.

**Expected behavior**
That runs and doesn't panic, or runs and exits cleanly (even with an error exit code if necessary).

**Environment (please co

[2021-12-20 03:48] achannarasappa commented on #207
Thanks for reporting this - this should be fixed in v4.4.3 but let me know if you're still seeing the issue

[2021-12-20 06:18] herbygillot commented on #207
4.4.3 looks better, but when run with the `print` sub-command, we're still seeing panic:

[code]

[2021-12-20 08:21] #206 closed

[2021-12-20 10:33] clausecker opened #208 "go.mod has wrong module path"
The major version of this package is `v4`.  For this reason, the module path must end in `/v4`.  Please replace the module path in `go.mod` with

    module github.com/achannarasappa/ticker/v4

to fix this.  You will also need to add the `/v4` path component to all `import` statements.

This is required so the package can be downloaded and installed in module-aware mode.

[2021-12-21 03:00] achannarasappa commented on #207
Thanks for finding that issue - I've added the missing validation in v4.4.4

[2021-12-21 08:40] herbygillot commented on #207
OK thanks, confirmed that v4.4.4 is working.  The MacPorts port for `ticker` has been updated.  Closing this issue.

[2021-12-21 08:40] #207 closed

[2021-12-28 11:49] zohozer commented on #204
And how to do this in Windows?

[2021-12-31 15:15] wavenator commented on #204
WDYM? The same solution would work for any OS

[2021-12-31 21:04] zohozer commented on #204
"A quick solution and easy solution is available - just format the printed numbers with an available library of your choice."

I can't find that solution you are claiming that exists!

Happy New Year!

[2022-01-06 08:23] wavenator commented on #204
https://stackoverflow.com/questions/13020308/how-to-fmt-printf-an-integer-with-thousands-comma/46811454
This stackoverflow post is full of examples. I would recommend using https://github.com/dustin/go-humanize

[2022-01-07 01:12] goldbergmax opened #209 "Add option to view merged groups"
The new groups feature is great, but it would be useful to have an option to view several or all groups combined together. For example, if I put my equity positions in one group and my ETF positions in another, it would be nice to have a equity+ETF tab that had all of the positions in each of those groups together. Similarly, an "all positions" tab that merged all groups would be helpful to see th

[2022-01-07 20:55] stusgt67 opened #210 "Feature Requests"
**Problem Statement**

I recently got a Raspberry Pi 4 with the 7 inch touch screen and I got it to track the stock market, I’m also in the UK. This terminal app is awesome but, it would be cool if we had a few more options on how the data is displayed.

**Proposed Solution**

- When changing the currency to “**GBP**” and changing **“currency-summary-only”** to “**false**” it converts everything i

[2022-01-11 07:50] ShuxinLin opened #211 "Add local parameter to each group to override global parameter"
The group feature is great! One feature I think can be really helpful is to add local/nested parameter (e.g. `show-summary`, `sort`)  so that the value override the glocal configuration. One meaningful example is to add different sortings to each group. For stocks, I'd like to sort the tickers by change percent, while for indices, I'd like to keep the user-defined order (i.e. `sort=user`).

[2022-01-13 18:43] meowgorithm commented on #158
This fix is now available in Bubbles `v0.10.0`.

[2022-01-17 12:55] achannarasappa commented on #211
Thanks for the suggestion! I can see how this would be helpful especially for sorting - I'll add it to the roadmap

[2022-01-17 13:00] achannarasappa commented on #204
Thanks for the suggestion! I've seen this request a few times so I'll add it to the roadmap.

go-humanize or something similar along with commas will likely be needed to compensate for the additional characters.

[2022-01-31 21:59] krzyk opened #212 "Support additional cryptocurrencies"
**Problem Statement**
Yahoo Finance doesn't have all the cryptocurrencies, e.g. TONCOIN, or PLANETS.

**Proposed Solution**
Use another source for crypto that is not found in Yahoo, e.g. cryptocompare, for PLANETS-USD: `https://min-api.cryptocompare.com/data/price?fsym=PLANETS&tsyms=USD`

**Alternatives**
Sit and wait for Yahoo adds less popular cryptocurrencies?

[2022-02-01 15:14] taviso commented on #179
I'm also experiencing this issue in 4.4.4, can the issue be reopened?

[2022-02-03 01:48] achannarasappa commented on #212
Thanks for the suggestion! This makes sense to me to add and there's already some foundational code in place to support multiple data sources.

[2022-02-19 10:33] clausecker commented on #208
The problem is still there and needs to be fixed.

[2022-02-21 23:41] achannarasappa commented on #212
Added in the latest release

[2022-02-21 23:41] #212 closed

[2022-02-23 06:20] ajgringo619 opened #214 "Watchlist is now showing up in all group tabs"
**Describe the bug**
Watch lists are no longer separated by group; this is even present using the sample .yaml.

**To Reproduce**
Steps to reproduce the behavior:
1. Start with options:
[code]
**Expected behavior**
Watch lists should stay separated by group if configured that way.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the foll

[2022-02-23 17:11] kprinssu opened #215 "Hardcoded tab unicode character does not render"
**Describe the bug**
The hardcoded unicode character for "Tab" does not render within iTerm. Spefically, the character `⭾` at https://github.com/achannarasappa/ticker/blob/master/internal/ui/ui.go#L202 shows up as:

![Screenshot 2022-02-23 at 12 09 32](https://user-images.githubusercontent.com/12776326/155370488-32e23036-17a2-4765-835f-00dad3442626.png)

**To Reproduce**

Terminal settings via Ite

[2022-03-04 01:59] #202 closed

[2022-03-04 02:03] achannarasappa commented on #214
Thanks for reporting this - it should be fixed in the latest release but let me know if you still see the issue on your end

[2022-03-04 02:03] #214 closed

[2022-03-04 02:09] markphelps commented on #215
Same here, also running zsh and same version of macOS .. I did try with regular bash shell and same result:

[code]

[2022-03-04 02:10] ajgringo619 commented on #214
Works perfectly - thanks a bunch!

[2022-03-07 19:19] sbwiecko opened #218 "Forex -- Currencies"
Would be fantastic to add the data from Forex Exchange / Currency Rates, e.g., we would follow the evolution of USD to RUB.

[2022-03-09 19:09] reefland opened #219 "ticker print - only does "default" group"
**Describe the bug**
Running `ticker print` only outputs items defined in the `lots:` section.  It does not show anything from my `groups:` and  `holdings:`

**Expected behavior**
Expect the output of  `ticker print` to include all holdings defined in the yaml file.

[2022-03-14 13:52] joce opened #221 "Have shift+tab cycle groups backwards"
**Problem Statement**
Right now, pressing the <kbd>tab</kbd> key cycles the groups forward. However, there is no way to cycle them backwards.

**Proposed Solution**
Pressing <kbd>shift</kbd>+<kbd>tab</kbd> should cycle in the reverse order.

**Alternatives**
_No alternatives provided_

**Use Cases**
When having multiple groups (3 or more) and you want to just toggle between two adjacent ones, it w

[2022-03-22 02:03] #209 closed

[2022-03-23 02:05] #210 closed

[2022-04-05 15:12] shaunmolloy commented on #219
Nice suggestion.

Maybe a flag could be added for `--group` with a default as `default`

[code]

[2022-04-21 09:19] clausecker commented on #208
The problem is still there and needs to be fixed.

[2022-04-23 10:07] yuriizinets opened #223 "Non-USD lot currency confuses valuation logic"
**Describe the bug**
When lot currency is not USD (but USD selected as a base display currency), valuation logic still thinks it's USD.

**To Reproduce**
Steps to reproduce the behavior:
1. Add any non-USD lot

**Expected behavior**
Take into account lot currency.

**Screenshots**
![image](https://user-images.githubusercontent.com/17050536/164889883-21685721-9ad8-4d62-b9d8-6af4ad22bc92.jpeg)

**En

[2022-05-03 18:14] kprinssu commented on #215
This bug still exists and should not be marked as stale.

[2022-05-11 04:26] nodesocket commented on #215
Can confirm, broken `tab` in menu.

![Screen Shot 2022-05-10 at 11 25 06 PM](https://user-images.githubusercontent.com/523312/167768882-76ac31d0-ff3d-4316-8e67-f433b93e4304.png)

Running macOS Monterey`12.3.1`. MacBook Pro (16-inch, 2021) Apple M1 Max

[2022-05-16 11:01] thefringeninja commented on #218
@sbwiecko try `USDRUB=X`

[2022-05-19 19:59] ajgringo619 opened #224 "Tab cycle through groups ramdomly stops working"
**Describe the bug**
After running ticker for a while, the tab cycling stops functioning.

**To Reproduce**
Steps to reproduce the behavior:
1. Start ticker with `gnome-terminal --hide-menubar --maximize --title="Portfolio Tracker" -- ticker --config /home/ajgringo619/.config/ticker/ticker.yaml`
2. Use PC for a while
3. Switch back to ticker's workspace and try to see all of my groups

**Expected

[2022-05-23 02:02] ajgringo619 commented on #224
This seems to be directly related to delays in getting updated info from Yahoo. I have ticker scheduled to grab new data every 20 seconds. When the last glitch happened, the update was stuck about 2 minutes earlier; this seems to fix itself when the update finally completed.

[2022-05-25 19:59] #224 closed

[2022-06-24 22:54] brolal opened #226 "Crypto issure - open and close prices are the same"
**Describe the bug**
Prev. Close and Open are the same for crypto

**To Reproduce**
Steps to reproduce the behavior:
config file:
show-summary: true
show-tags: true
show-fundamentals: true
show-separator: true
show-holdings: true
interval: 5
currency: USD
currency-summary-only: false
watchlist:
  - FIL.X
  - ETC.X
  - BTC.X
  - LTC.X
  - ETH.X
  - XMR.X
  - ADA.X
  - FSR
groups:
  - name: crypto

[2022-07-07 17:32] spatnynick opened #228 "currency-summary-only=true -> dayChange in summary is not converted"
Hi
if you set currency-summary-only to true and a currency to e.g. EUR and add lots in different currencies, the holdingSummary.Value and holdingSummary.Cost is well converted, but not the holdingSummary.DayChange.Amount

imho in asset.go -> func addHoldingToHoldingSummary, this line should be changed from:
	dayChange := holdingSummary.DayChange.Amount + holding.DayChange.Amount
to probably this o

[2022-07-07 17:33] spatnynick opened #229 "currency-summary-only=true -> holdingSummary.DayChange.Amount is not converted"
Hi
if you set currency-summary-only to true and a currency to e.g. EUR and add lots in different currencies, the holdingSummary.Value and holdingSummary.Cost is well converted, but not the holdingSummary.DayChange.Amount

imho in asset.go -> func addHoldingToHoldingSummary, this line should be changed from:
	dayChange := holdingSummary.DayChange.Amount + holding.DayChange.Amount
to probably this o

[2022-07-14 19:27] zhiaos commented on #89
You can use USD=X.

[2022-07-19 16:37] kprinssu commented on #215
This is still present. I will create a PR to address this.

[2022-07-19 23:28] werdahias opened #230 "Add GPL disclaimer"
It would be nice is this repo had a disclaimer included in the README. Like "This program is free software, you are free to ..." .
This would improve the documentation of this project.

[2022-07-31 02:14] #218 closed

[2022-08-14 14:33] achannarasappa commented on #228
Duplicate of #229

[2022-08-14 14:33] #228 closed

[2022-08-14 14:37] achannarasappa commented on #229
Thanks for finding this bug! I've pushed a fix and you should see that in next release. Let me know if this does not end up fixing the issue for you.

[2022-08-14 14:37] #229 closed

[2022-08-14 15:07] achannarasappa commented on #226
Thanks for calling this issue out - these values are the same because crypto markets do not close and thus do not have an Open price. Even that Prev. Close field is a misnomer since the market never closes.

I've seen the Prev. Close property set to the value of the crypto asset 24 hours ago in other applications that show market data for crypto assets so I've done the same in ticker. I'm open to

[2022-08-14 15:07] #226 closed

[2022-08-22 16:38] deroshkin commented on #223
After messing around with this issue, it seems that it's caused by Yahoo incorrectly formatting the London stock exchange quote currency as GBp instead of GBP, which causes currency conversion error. The same error occurred with London stocks when using CAD as display currency.

I've submitted a pull request #231

[2022-08-22 17:04] deroshkin commented on #221
This currently seems impossible without an upstream patch to https://github.com/charmbracelet/bubbletea, which ticker uses for input handling. I've played around, and bubbletea reports `shift`+`tab` as `tab`.

One alternative could be to add left and right arrow keys as options for cycling between groups. If this sounds like a good idea, I have a patch ready

[2022-08-23 18:12] arctica commented on #127
@achannarasappa hi, would you mind re-opening this feature request issue please? I'd be interested in such a feature. As mentioned, you don't need anything from the data feeds for short positions. You just add a negative amount as your position and instead of showing a loss it would show a gain and vice versa. Pretty much just multiply by -1 to get the result. In fact it seems the arrow already se

[2022-08-27 11:59] achannarasappa commented on #230
There is a [LICENSE file](https://github.com/achannarasappa/ticker/blob/master/LICENSE) included in the repository. If you had something else in mind, it'd be interested in seeing an example so I can understand better what you had in mind.

[2022-08-27 11:59] #230 closed

[2022-08-27 12:39] achannarasappa commented on #223
Thanks again for the fix @deroshkin this is addressed in the latest release

[2022-08-27 12:39] #223 closed

[2022-08-27 16:47] Bleighhhh commented on #11
hi! I have the .ticker.yaml file in my home but it is like ticker cannot detect it. How do I tell ticker to use that config file? thanks

[2022-10-03 07:16] ChangheeOh opened #233 "Adding to configure text colors for price changes"
**Problem Statement**
I want to configure the text colors  for changes of each stock symbol brighter.
But I can only change the colors of text for symbol name.
If a terminal is deactivated, it's hardly identify whether it's increasing or decreasing by the color.

**Proposed Solution**
Please provide below properties in configure, for example.
"text-increase", "text-decrease"

**Alternatives**
If i

[2022-10-03 07:20] ChangheeOh opened #234 "Adding to configure sorting order"
**Problem Statement**
I tried to add a property in configure to substitute `ticker --sort user` command and failed.

**Proposed Solution**
Please adding `sort` property in `.ticker.yaml` to set sorting order.

**Alternatives**
N/A

**Use Cases**
N/A

**Additional context**
N/A

[2022-11-02 10:42] StingJohnson opened #235 "ticker only show the price"
hi developer,
is there a way when i type for example "ticker btc" and it only shows the price, just the price, nothing else.
thanks alot.